{#this is a little part of template, which rendered after one comment editet. It is allows to not reload all comments,
but update with ajax only one comment, that was edited#}
<script type="text/javascript" src="{{ url_for ('static', filename= "js/comment.js") }}"></script>

{% from 'helpers.html' import post_comment_macro with context %}

{{ post_comment_macro(comment, comments_relationships) }}
<script>

{#reinit buttons for likes, reactions and discussion#}
$(document).ready(function() {
    $("img.unliked, img.liked").on("click", ToggleLikeUnlike);
    $('.smile').on("click", AddReaction);
    ShowReactionDiv();
    $(".discussion.post-form.comment-login").on("click", RenderPostCommentForm);
    $(".discussion.product-form.comment-login").on("click", RenderProductCommentForm);
});

</script>