{#this is a little part of template, which rendered after one comment editet. It is allows to not reload all comments,
but update with ajax only one comment, that was edited#}

{% from 'helpers.html' import post_comment_macro with context %}

{{ post_comment_macro(comment, comments_relationships) }}
<script>
$("form.edit_comment").submit(function(event) {
    var id = "{{comment.id}}";
    alert(123);
    var formData = new FormData($(this)[0]);
    $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
            $(".one_comment#comment" + id).html(data.comment);
            $("textarea#text").val("");
        },
        error: function (xhr, str) {
            alert('Mistake ' + xhr.responseCode);
        }
    });
    event.preventDefault();
});
{#reinit buttons for likes, reactions and discussion#}
$(document).ready(function() {
    $("img.unliked, img.liked").on("click", ToggleLikeUnlike);
    $('.smile').on("click", AddReaction);
    ShowReactionDiv();
    $(".discussion.post-form.comment-login").on("click", RenderPostCommentForm);
    $(".discussion.product-form.comment-login").on("click", RenderProductCommentForm);
});

</script>