{% extends "base.html" %}

{% block body %}
<h1>Add post</h1>
<form action="" method="post" class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            {% for field in form %}
                <p>
                {{ field.label }}:<br>
                {{field(size=80)}}<br>
                {% if field.errors %}
                    <ul class=errors>
                     {% for error in field.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
              </p>
            {% endfor %}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Publish</button>
        </div>
    </div>
  </form>

{% endblock %}