
{% from 'helpers.html' import post_comment_macro with context %}
    {%- for key, value in dictionary.iteritems() recursive -%}

        {% if key %}
            <li>
            {% for comment in comments %}
                {% if comment.id == key %}
                        {% if comment.deleted %}
                            comment has been deleted
                        {%else%}
                            {{ post_comment_macro(comment, dict_like) }}
                        {% endif %}
                {% endif %}
            {% endfor %}
                <ul class="comment_ul">{{ loop(value.iteritems()) }}</ul>
             </li>
        {% endif %}
    {%- endfor -%}



<script type="text/javascript">
 function del_post_comment(e, id) {

    e.preventDefault()
    if (confirm('Are you sure you want to save this thing into the database?')) {

        $.post( "{{ url_for('del_post_comment')}}", {id:id},function( data ) {
            $(".one_comment#comment" + id).html(data.deleted);
             $("#edit" + id).text(data.nodelet);


        });
} else {
    // Do nothing!
}

}

function edit_comment(event, id){
    event.preventDefault();

    $.ajax({
        type: "GET",
        url: '/edit_post_comment/'+ id,

        success: function (data) {
             $(".one_comment#comment" + id).html(data.form);
             $("#edit" + id).text(data.noedit);

        },
        error: function (xhr, str) {
            alert('Mistake ' + xhr.responseCode);
        }
    });


};

$(".discussion").click(function (event){
    var id = $(this).attr('id');
    $(".answer#answer" + id).slideToggle();


    var user = $(this).attr('user');
    var post = "{{postid}}";
    $.ajax({
        type: "POST",
        url: '/comment_form',
        data: "parent_id=" + id + "&post_id=" + post,
        success: function (data) {
             $(".answer#answer" + id).html(data.com_form);

            $("textarea#text").val(user + ", ");

        },
        error: function (xhr, str) {
            alert('Mistake ' + xhr.responseCode);
        }
    });
    event.preventDefault();

});




jQuery.fn.clickToggle = function(a,b) {
  function cb(){ [b,a][this._tog^=1].call(this); }
  return this.on("click", cb);
};

$( "img#white.comment" ).clickToggle(function() {
    var comment_id = $(this).attr("comment_id");
    $(this).attr("src", '/static/image/blue_heart.png');

    $.ajax({
         type: 'POST',
         url: "/like_comment",
         data: "id=" +comment_id,
         success: function(data){
             $('#vote_countcomment' + comment_id).html(data);
         }
    });
}, function() {
    $(this).attr("src", '/static/image/white.png');

    var comment_id = $(this).attr("comment_id");
      $.ajax({
         type: 'POST',
         url: "/unlike_comment",
         data: "id=" +comment_id,
         success: function(data){
             $('#vote_countcomment' + comment_id).html(data);
         }
    });
});


$( "img#blue.comment" ).clickToggle(function() {
    var comment_id = $(this).attr("comment_id");
    $(this).attr("src", '/static/image/white.png');

    $.ajax({
         type: 'POST',
         url: "/unlike_comment",
         data: "id=" +comment_id,
         success: function(data){

             $('#vote_countcomment' + comment_id).html(data);
         }
    });
}, function() {
    var comment_id = $(this).attr("comment_id");
        $(this).attr("src", '/static/image/blue_heart.png');

      $.ajax({
         type: 'POST',
         url: "/like_comment",
         data: "id=" +comment_id,
         success: function(data){
             $('#vote_countcomment' + comment_id).html(data);
         }
    });
});

</script>





