
{% block comments %}
{% from 'helpers.html' import post_comment_macro with context %}
    {%- for key, value in dictionary.iteritems() recursive -%}

        {% if key %}
            <li>
            {% for comment in comments %}
                {% if comment.id == key %}
                    {{ post_comment_macro(comment) }}
                {% endif %}
            {% endfor %}
                <ul>{{ loop(value.iteritems()) }}</ul>
             </li>
        {% endif %}
    {%- endfor -%}



<script type="text/javascript">

function Vote_comment(id)
{
   $.ajax({

       type: "POST",
       url: '/like_comment',
       data: {"id": id},
       success: function(data) {
           $('#vote' + id).html(data);
       },
       error: function (xhr, str) {
           alert('Mistake ' + xhr.responseCode);
       }


   });

}


$(".discussion").click(function (event){



    $(this).next().slideToggle();
    var id = $(this).attr('id');
    var post = "{{postid}}";
    $.ajax({
        type: "POST",
        url: '/comment_form',
        data: "parent_id=" + id + "&post_id=" + post,
        success: function (data) {
             $(".answer#answer" + id).html(data.com_form);

            $("textarea#text").val("");

        },
        error: function (xhr, str) {
            alert('Mistake ' + xhr.responseCode);
        }
    });
    event.preventDefault();

});

function Add_comment(id, event) {
    event.preventDefault();
    var text = ($('textarea[name="text"]').val());
    alert (text);
    $.ajax({
        type: "POST",
        url: $(".answer_form#" + id).attr('action'),
        data: "text="+ text + "&parent=" + id,
        success: function (data) {
            $("#comment").html(data.comments);

            $("textarea#text").val("");


        },
        error: function (xhr, str) {
            alert('Mistake ' + xhr.responseCode);
        }
    });


};
</script>
{% endblock %}




