{% extends "base.html" %}

{% block body %}
<h1>Add post</h1>
<form action="{{ url_for('user_edit_post', id=id )}}" method="post" class="form-horizontal" enctype=multipart/form-data>
    <div class="control-group">
        <div class="controls">
                    {{ form.csrf_token }}

                <p>
                {{ form.title.label }}:<br>
                {{form.title(size=80)}}<br>
                {{ form.body.label }}:<br>

                {{form.body(size=80)}}<br>
                {{ form.file.label }}<br>
                {{form.file}}<br>
                {% if form.errors %}
                        <ul class=errors>
                     {% for field, errors in form.errors.items(): %}
                        {% for error in errors %}
                      <li>Error in the field {{field}}:{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                {% endif %}
              </p>

        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Publish</button>
        </div>
    </div>
  </form>

{% endblock %}