{% macro post_comment_macro(comment) -%}
                <div id="comment{{ comment.id }}">
                    <p class="comment_inf">
                        Comment by {{ comment.com_author.username }} [{{ comment.timestamp }}]
                    </p>
                    <div id="vote{{ comment.id }}">{{ comment.vote_count }}</div>
                    <a href="#" OnClick="Vote_comment('{{comment.id}}');" >Vote</a>
                    <p class="comment_text">
                        {{ comment.text }}
                    </p>
                    <button type="button" class="btn btn-primary discussion" id ="{{ comment.id }}" >Discussion</button>

                        <div class = answer id = "answer{{ comment.id }}" style="display: none">

                        </div>
                </div>
{%- endmacro %}


{% macro product_comment_macro(comment) -%}
                <div id="product_comment{{ comment.id }}">
                    <p class="comment_inf">
                        Comment by {{ comment.com_prod_author.username }} [{{ comment.timestamp }}]
                    </p>

                    <p class="comment_text">
                        {{ comment.text }}
                    </p>
                   <button type="button" class="btn btn-primary discussion" id ="{{ comment.id }}" >Discussion</button>

                        <div class = answer id = "answer{{ comment.id }}" style="display: none">

                        </div>
                </div>
{%- endmacro %}
