{% extends "base.html" %}
{% from 'helpers.html' import posts_macro with context %}
{% block body %}
    <section class="ct-blogGrid ct-u-paddingBottom20">
        <div class="ct-pageSectionHeader ct-u-paddingBottom40">
            <h3 class="text-uppercase ct-u-size50 text-center">BLOG</h3>
        </div>

            <div class="container">
                <div class="row">

                <div class="ct-tabHeader ct-tabHeader--motive " role="tabpanel">
                        <ul class="list-unstyled text-uppercase ct-fw-600" role="tablist">

                        {%  if sort == "rating" %}
                            <li role="presentation" class="">
                                <div class="ct-tabBorder">
                                    <a href="{{url_for('last_posts', sort = 'data')}}">Latest posts</a>
                                </div>
                                <div class="mini-triangle">

                                </div>
                            </li>
                             <li role="presentation" class="active">
                                <div class="ct-tabBorder">
                                    <a href="{{url_for('last_posts', sort = 'rating')}}">most popular posts</a>
                                </div>
                                <div class="mini-triangle">

                                </div>
                            </li>
                         {% else %}
                            <li role="presentation" class="active">
                                <div class="ct-tabBorder">
                                    <a href="{{url_for('last_posts', sort = 'data')}}">Latest posts</a>
                                </div>
                                <div class="mini-triangle">

                                </div>
                            </li>
                             <li role="presentation" class="">
                                <div class="ct-tabBorder">
                                    <a href="{{url_for('last_posts', sort = 'rating')}}">most popular posts</a>
                                </div>
                                <div class="mini-triangle">

                                </div>
                            </li>
                         {% endif %}

                        </ul>
                    </div>



                    <div class="ct-blog ct-js-blogMasonry ct-u-borderBottomGrayLighter ct-u-paddingBoth20">
                        {% for post in posts.items %}
                            <div class="col-sm-4 ct-js-blogMasonry-item" >

                                {{ posts_macro(post, dict_like, list_of_favourite) }}
                            </div>
                        {% endfor %}
                    </div>

                </div>




            <div class="ct-u-marginBoth20 ct-pagination">
                <ul class="pagination pagination-lg">
                    {% if posts.has_next and posts.has_prev %}
                        <li class="right"><a href="{{ url_for('last_posts', page = posts.prev_num) }}"><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="{{ url_for('last_posts', page = posts.prev_num) }}">{{ posts.prev_num }}</a></li>
                        <li class="active"><a href="#">{{ page }}</a></li>

                        <li><a href="{{ url_for('last_posts', page = posts.next_num) }}">{{ posts.next_num }}</a></li>

                        <li class="right"><a href="{{ url_for('last_posts', page = posts.next_num) }}"><i class="fa fa-chevron-right"></i></a></li>

                    {% elif posts.has_next %}
                        <li class="left"><a href=""><i class="fa fa-chevron-left"></i></a></li>
                        <li class="active"><a href="#">{{ page }}</a></li>
                        <li><a href="{{ url_for('last_posts', page = posts.next_num) }}">{{ posts.next_num }}</a></li>

                        <li class="right"><a href="{{ url_for('last_posts', page = posts.next_num) }}"><i class="fa fa-chevron-right"></i></a></li>


                {% elif posts.has_prev %}
                        <li class="right"><a href="{{ url_for('last_posts', page = posts.prev_num) }}"><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="{{ url_for('last_posts', page = posts.prev_num) }}">{{ posts.prev_num }}</a></li>
                        <li class="active"><a href="#">{{ page }}</a></li>
                        <li class="left"><a href="#"><i class="fa fa-chevron-right"></i></a></li>

                    {% endif %}
                </ul>
            </div>
            </div>
    </section>
<script>
jQuery(window).on("load",function () {


        if ($().masonry && ($('.ct-js-blogMasonry').length > 0) && ($devicewidth > 767)) {
            $('.ct-js-blogMasonry').masonry({
                itemSelector: '.ct-js-blogMasonry-item',
                masonry: {
                }
            });
        }
     });
</script>
{#{% from 'helpers.html' import posts_macro with context %}#}
{#        <script type="text/javascript" src="{{ url_for ('static', filename= "js/single_post.js") }}"></script>#}
{##}
{#<div class="row">#}
{#      <div class="col-xs-12 col-sm-10 col-md-8">#}
{#          Sort by#}
{#  <a href="{{url_for('last_posts', sort = 'data')}}">data</a>#}
{#  <a href="{{url_for('last_posts', sort = 'rating')}}">rating</a>#}
{##}
{#    {% for post in posts.items %}#}
{#        {{ posts_macro(post, dict_like, list_of_favourite) }}#}
{#    {% endfor %}#}
{##}
{# </div>#}
{# </div>#}
{##}
{##}
{##}
{#    {% if posts.has_prev %}<a href="{{ url_for('last_posts', page = posts.prev_num) }}"><< Newer posts</a>{% else %}<< Newer posts{% endif %} |#}
{#    {% if posts.has_next %}<a href="{{ url_for('last_posts', page = posts.next_num) }}">Older posts >></a>{% else %}Older posts >>{% endif %}#}
{##}



{% endblock %}


