{% extends "base.html" %}
{% block body %}
{% from 'helpers.html' import products_macro with context %}
        <script type="text/javascript" src="{{ url_for ('static', filename= "js/single_product.js") }}"></script>


  Sort by
  <a href="{{url_for('popular_product', sort = 'data')}}">data</a>
  <a href="{{url_for('popular_product', sort = 'rating')}}">rating</a>

<div id="product_container">

  {% for product in products.items %}

    {{ products_macro(product, dict_like, list_of_favourite, 3) }}


{% endfor%}


</div>


{% endblock %}