{% extends "base.html" %}
{% block body %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1631777696846006',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

 <form action="" method=post class="form-horizontal">
             {{ form.csrf_token }}

    <h1>Sign Up</h1>
    <div class="control-group">
        <div class="controls">

                <p>
                {{ form.username.label }}:<br>
                {{form.username(size=80)}}<br>
                {{ form.password.label }}:<br>
                {{form.password(size=80)}}<br>

                {{ form.confirm.label }}:<br>
                {{form.confirm(size=80)}}<br>
                {{ form.email.label }}:<br>
                {{form.email(size=80)}}<br>
                {{ form.about_me.label }}:<br>
                {{form.about_me(cols = 32, rows = 4)}}<br>
                  {% if form.errors %}
                    <ul class=errors>
                     {% for field, errors in form.errors.items(): %}
                        {% for error in errors %}
                      <li>Error in the field {{field}}:{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                  {% endif %}
              </p>

        </div>
    </div>



    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
  </form>


{% endblock %}