{% extends "base.html" %}
{% block body %}
<h1> {{ post.title }}</h1>
<p>
{{ post.body }}
</p>
<div id="comments-container">
    {% include "comments.html" %}
</div>
<h1>Add comment</h1>
<form action="{{ url_for('singlepost', postid=1 ) }}" method="post" class="form-horizontal comment_form"/>
    <div class="control-group">
        <div class="controls">
                <p>
                {{ form.text.label }}:<br>
                {{form.text(size=80)}}<br>
                {% if form.errors %}
                    <ul class=errors>
                     {% for error in form.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
              </p>

        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Add comment</button>
        </div>
    </div>
  </form>
<script type="text/javascript">

{% endblock %}
