{% extends "base.html" %}
{% block body %}
{% from 'helpers.html' import popup_div_macro with context %}

    <script type="text/javascript" src="{{ url_for ('static', filename= "js/single_product.js") }}"></script>
    <script type="text/javascript" src="{{ url_for ('static', filename= "js/comment.js") }}" acync></script>

<div class="row">

    <div class="col-md-7" id="single_post">
        <div id="product_box">
            {% if current_user == product.product_author %}
            <div class="btn-group btn-block">
                <button type="button" class="btn btn-block btn-default dropdown-toggle user_but" data-toggle="dropdown">
                    Edit <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('edit_product', id= product.id  ) }}">edit</a></li>
                    <li><a href="#" onclick="delete_product({{ product.id }}, event);">delete</a></li>

                </ul>
            </div>
            {% endif %}
            <h1> {{ product.title }}</h1>
            {% if product.image %}
            <img src="{{ url_for('static',filename="media/" + product.image) }}" width="200"/>
            {% endif %}

            <p>
                {{ product.description }}
            </p>

            <p>
                Write <a href="{{ url_for('user', username=product.product_author.username)}}">{{
                product.product_author.username }}</a> at {{product.published_at}}
            </p>

            {% if current_user.is_authenticated %}

                {% if product_liked %}


                <div class="smile-container">
                    <div class="parent_div">

                        {{ popup_div_macro(product.id, "like_product ") }}

                            {% if product_liked.type == "like"%}
                                <img class="liked" src="{{ url_for('static',filename="image/like_smile.png" )}}"
                        obj_id={{product.id}} url = "like_product" />

                                {% elif product_liked.type == "unlike"%}
                                <img class="liked" src="{{ url_for('static',filename="image/unlike_smile.png" )}}"
                        obj_id={{product.id}} url = "like_product"  />

                                {% elif product_liked.type == "funny"%}
                                <img class="liked" src="{{ url_for('static',filename="image/funny.png" )}}"
                        obj_id={{product.id}} url = "like_product" />


                                {% elif product_liked.type == "angry"%}
                                <img class="liked" src="{{ url_for('static',filename="image/angry.png" )}}"
                        obj_id={{product.id}} url = "like_product"  />


                             {% endif %}
                    </div>
                </div>

            {% else %}

                    <div class="smile-container">
                        <div class="parent_div">

                            {{ popup_div_macro(product.id, "like_product ") }}
                             <img class="unliked"  src="{{ url_for('static',filename="image/gray.png" )}}"
                                     url = "like_product" obj_id={{product.id}} />
                        </div>
                    </div>

            {% endif%}
        <span id="like_count_like_product_{{product.id}}">{{ product.like_count }} </span><img class="smile" src="{{ url_for('static',filename="image/like_smile.png" )}}" width=20/>
        <span id="unlike_count_like_product_{{product.id}}">{{ product.unlike_count }} </span><img class="smile" src="{{ url_for('static',filename="image/unlike_smile.png" )}}" width=20/>
        <span id="funny_count_like_product_{{product.id}}">{{ product.funny_count }} </span><img class="smile" src="{{ url_for('static',filename="image/funny.png" )}}" width=20/>
        <span id="angry_count_like_product_{{product.id}}">{{ product.angry_count }} </span><img class="smile" src="{{ url_for('static',filename="image/angry.png" )}}" width=20/>



            {% if if_favorite %}
            <span class="star product" id="star_gold{{product.id}}">Delete_saved</span>&nbsp;<img class="product"
                                                                                                  id="gold_star"
                                                                                                  src="{{ url_for('static',filename="image/gold_star.png"
            )}}"
            width="20" product_id={{product.id}} /></a>
            {% else%}
            <span class="star product" id="star_white{{product.id}}">Add_to_saved</span>&nbsp;<img class="product"
                                                                                                   id="white_star"
                                                                                                   src="{{ url_for('static',filename="image/white_star.png"
            )}}"
            width="20" product_id={{product.id}} /></a>
            {% endif %}
            {% else %}
            <span>{{ product.like_count }}</span>&nbsp;<img class="anon_like" src="{{ url_for('static',filename=" image/white.png"
            )}}"
            width="20" /></a>
            <span class="star product">aDD TO_saved</span>&nbsp;<img src="{{ url_for('static',filename=" image/white_star.png"
            )}}"
            width="20" /></a>

            {% endif %}
        </div>
        <div class="row">
            {% if current_user.is_authenticated %}

            <div class="col-md-3">
                <button type="button" id="button_comment1" class="btn btn-primary btn-block">Comment</button>
            </div>
            {% else %}
            <div class="col-md-3">
                <button type="button" id="anon_comment" class="btn btn-primary btn-block">Comment</button>
            </div>
            {%endif%}
            <div class="col-md-3" id="all_comment">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="comment_but"
                            data-toggle="dropdown">Sort <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" onclick="product_comment( {{ product.id }}, 'data', event);">data</a></li>
                        <li><a href="#" onclick="product_comment({{ product.id }}, 'rating', event);">rating</a></li>

                    </ul>
                </div>

            </div>


        </div>
        <div id="hiden_form1">
            <form action="{{ url_for('singleproduct', product_id=product.id  ) }}" method="post" id="form1"
                  enctype=multipart/form-data class="form-horizontal comment_form">
                {{ form.csrf_token }}
                <div class="control-group">
                    <div class="controls">
                        {{form.hidden_tag()}}
                        <p>
                            {{ form.text.label }}:<br>
                            {{form.text(class_="form-control my_textarea", rows="4")}} <br>
                            {{form.file}}<br>

                            {% if form.errors %}
                        <ul class=errors>
                            {% for error in form.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        </p>

                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Add comment</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="messages-container">
            <p>You have to <a href="/login">login</a></p>
        </div>

        <div id="comment">

            {% include "product_comments.html" %}
        </div>
        {% if current_user.is_authenticated %}
        <h1 id="button_comment2">Add comment</h1>

        <form action="{{ url_for('singleproduct', product_id=product.id  ) }}" method="post" id="form2"
              enctype=multipart/form-data class="form-horizontal comment_form">
            {{ form.csrf_token }}
            <div class="control-group">
                <div class="controls">
                    {{form.hidden_tag()}}
                    <p>
                        {{ form.text.label }}:<br>
                        {{form.text(class_="form-control my_textarea", rows="4" )}}
                        {{form.file}}<br>

                        {% if form.errors %}
                    <ul class=errors>
                        {% for error in form.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    </p>

                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success">Add comment</button>
                </div>
            </div>
        </form>
        {% else %}
        <p>You have to <a href="/login">login</a> to add comment</p>
        {% endif %}
    </div>


</div>
<div class="col-md-3" id="many_post">
    <h2>Popular posts</h2>

</div>
</div>


{% endblock %}

