{% extends "base.html" %}
{% block body %}
<h1> {{ product.title }}</h1>
<div id="vote_count">{{ product.vote_count }}</div>
<p>
{{ product.description }}
<a href="#" OnClick="DoAction('{{product.vote_count}}');" >Vote</a>
</p>
<div id="comment" deep="0">
    {% include "product_comments.html" %}
</div>
<h1>Add comment</h1>
<form action="{{ url_for($SCRIPT_ROOT +'singleproduct', product_id=product.id  ) }}" method="post" class="form-horizontal comment_form"/>
    <div class="control-group">
        <div class="controls">
             {{form.hidden_tag()}}
                <p>
                {{ form.text.label }}:<br>
                {{form.text(size=80)}}<br>
                {% if form.errors %}
                    <ul class=errors>
                     {% for error in form.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
              </p>

        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Add comment</button>
        </div>
    </div>
  </form>

<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


function DoAction(   )
{
    alert(123);
    $.ajax({
         type: 'POST',
         url: "{{ url_for('singleproduct', product_id=product.id) }}",
         success: function(data){
             $('#vote_count').html(data);
         }
    });
}
$(".comment_form").submit(function (form) {
    $.ajax({
        type: "POST",
        url: $(".comment_form").attr('action'),
        data: $(".comment_form").serialize(),
        success: function (data) {
            $("#comment").html(data.comments);
            $('"textarea#text"').val("");

        },
        error: function (xhr, str) {
            alert('Mistake ' + xhr.responseCode);
        }
    });
    form.preventDefault();
});
</script>
{% endblock %}