{% from 'helpers.html' import products_macro with context %}
<script type="text/javascript" src="{{ url_for ('static', filename= "js/single_product.js") }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename= "js/user_container.js") }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename= "js/my.js") }}"></script>

{% if products|length >= 1 %}
    <li id="date" class="product" user ="{{ user_id }}"><a href="#">date</a></li>
    <li id="vote" class="product" user ="{{ user_id }}"><a href="#">rating</a></li>
    {% for product in products %}
            {{ products_macro(product, dict_like, list_of_favourite, 5) }}

    {% endfor %}


{% else %}
    <p>You have not saved yet</p>

            {% endif %}



