{% from 'helpers.html' import products_macro with context %}
<script type="text/javascript" src="{{ url_for ('static', filename= "js/user_container.js") }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename= "js/single_product.js") }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename= "js/my.js") }}"></script>


{% if products|length >= 1 %}
    <button id="product" sort="date" user ="{{ user_id }}">date</button>
    <button id="product" sort="vote" user ="{{ user_id }}">rating</button>
    {% for product in products %}
            {{ products_macro(product, dict_like, list_of_favourite, 5) }}

    {% endfor %}
{% else %}
    <p>You have not product yet</p>
    <p>Could you add one?</p>
    <a href="{{url_for('add_product')}}">Add_product</a>
            {% endif %}
