{% from 'helpers.html' import post_comment_macro with context %}
<script type="text/javascript" src="{{ url_for ('static', filename= "js/comment.js") }}"></script>
        <script type="text/javascript" src="{{ url_for ('static', filename= "js/user_container.js") }}" acync></script>

{% if comments|length >= 1 %}
    <li id="date" class="comment" user ="{{ user_id }}"><a href="#">date</a></li>
    <li id="vote" class="comment" user ="{{ user_id }}"><a href="#">rating</a></li>
    {% for comment in comments %}
        {% if not comment.deleted %}
            Comment for post
            <a href="{{ url_for('singlepost', postid = comment.post_id ) }}">{{ comment.post.title }}</a>
            {{ post_comment_macro(comment, dict_like) }}
        {% endif %}
    {% endfor %}
{% else %}
    <p>You have not comments yet</p>
    <p>Could you read something?</p>
    <a href="{{ url_for('last_posts') }}">Read latest</a>
{% endif %}


