{% from 'helpers.html' import posts_macro with context %}
<script type="text/javascript" src="{{ url_for ('static', filename= "js/single_post.js") }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename= "js/user_container.js") }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename= "js/my.js") }}"></script>

{% if posts|length >= 1 %}
    <button id="post" sort="date" user ="{{ user_id }}">date</button>
    <button id="post" sort="vote" user ="{{ user_id }}">rating</button>


    {% for post in posts %}
        {{ posts_macro(post, dict_like, list_of_favourite) }}
    {% endfor %}
{% else %}
    <p>You have not post yet</p>
    <p>Could you write something?</p>
    <a href="{{ url_for('add_post') }}">Add_post</a>
{% endif %}
