{% from 'helpers.html' import posts_macro with context %}
{% if posts|length >= 1 %}
         <a href="#" onclick="Post_container('vote', event);">Rating</a>
                    <a href="#" onclick="Post_container('data', event);">Data</a>

                {% for post in posts %}

                    {{ posts_macro(post, dict_like, saved_list) }}
                {% endfor %}
            {% else %}
                <p>You have not post yet</p>
                <p>Could you write something?</p>
                <a href="{{url_for('add_post')}}">Add_post</a>
            {% endif %}

<script>


$( "img#white.post" ).clickToggle(function() {
    var post_id = $(this).attr("post_id");
    $(this).attr("src", '/static/image/blue_heart.png');

    $.ajax({
         type: 'POST',
         url: "/like_post",
         data: "id=" +post_id,
         success: function(data){
             $('#vote_countpost' + post_id).html(data);
         }
    });
}, function() {
    $(this).attr("src", '/static/image/white.png');

    var post_id = $(this).attr("post_id");
      $.ajax({
         type: 'POST',
         url: "/unlike_post",
         data: "id=" +post_id,
         success: function(data){
             $('#vote_countpost' + post_id).html(data);
         }
    });
});


$( "img#blue.post" ).clickToggle(function() {
    var post_id = $(this).attr("post_id");
    $(this).attr("src", '/static/image/white.png');

    $.ajax({
         type: 'POST',
         url: "/unlike_post",
         data: "id=" +post_id,
         success: function(data){

             $('#vote_countpost' + post_id).html(data);
         }
    });
}, function() {
    var post_id = $(this).attr("post_id");
        $(this).attr("src", '/static/image/blue_heart.png');

      $.ajax({
         type: 'POST',
         url: "/like_post",
         data: "id=" +post_id,
         success: function(data){
             $('#vote_countpost' + post_id).html(data);
         }
    });
});



$( "img#gold_star.post" ).clickToggle(function() {
    var post_id = $(this).attr("post_id");

    $(this).attr("src", '/static/image/white_star.png');

    $.ajax({
         type: 'GET',
         url: "{{ url_for('delete_post') }}",
         data: "post_id=" +post_id,
         success: function(data){

             $('.post#star_gold' + post_id).text("Add to saved");
         }
    });

}, function() {
    var post_id = $(this).attr("post_id");
        $(this).attr("src", '/static/image/gold_star.png');

      $.ajax({
         type: 'GET',
         url: "{{ url_for('save_post') }}",
         data: "post_id=" +post_id,
         success: function(data){
             $('.post#star_gold' + post_id).text("Delete_from_saved");
         }
    });
});

$( "img#white_star.post" ).clickToggle(function() {
    var post_id = $(this).attr("post_id");

    $(this).attr("src", '/static/image/gold_star.png');

    $.ajax({
         type: 'GET',
         url: "{{ url_for('save_post') }}",
         data: "post_id=" +post_id,

         success: function(data){
             $('.post#star_white' + post_id).text("Delete from saved");
         }
    });

}, function() {
    var post_id = $(this).attr("post_id");
        $(this).attr("src", '/static/image/white_star.png');

      $.ajax({
         type: 'GET',
         url: "{{ url_for('delete_post') }}",
         data: "post_id=" +post_id,
         success: function(data){
             $('.post#star_white' + post_id).text("Add to saved");
         }
    });
});



</script>