{% from 'helpers.html' import posts_macro with context %}
<script type="text/javascript" src="{{ url_for ('static', filename= "js/single_post.js") }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename= "js/user_container.js") }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename= "js/my.js") }}"></script>

{% if posts|length >= 1 %}
    <li id="date" class="post" user="{{ user_id }}"><a href="#">date</a></li>
    <li id="vote" class="post" user="{{ user_id }}"><a href="#">rating</a></li>

    {% for post in posts %}
        {{ posts_macro(post, dict_like, list_of_favourite) }}
    {% endfor %}

{% else %}
    <p>You have not saved yet</p>

{% endif %}
