{% from 'helpers.html' import posts_macro with context %}
<script type="text/javascript" src="{{ url_for ('static', filename= "js/single_post.js") }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename= "js/my.js") }}"></script>

{% if posts|length >= 1 %}

    <div class="ct-tabHeader ct-tabHeader--motive" role="tabpanel">
        <ul class="list-unstyled text-uppercase ct-fw-600" role="tablist">
            <li role="presentation" class="active">
                <div class="ct-tabBorder">

                    <a href="" id="date" class="post"  user="{{ user_id }}" role="tab" data-toggle="tab">date</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>
            <li role="presentation" class="active">
                <div class="ct-tabBorder">


                    <a href="" id="vote" class="post"  user="{{ user_id }}" role="tab" data-toggle="tab">Rating</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>

        </ul>
    </div>


    {% for post in posts %}
        {{ posts_macro(post, dict_like, list_of_favourite) }}
    {% endfor %}

{% else %}
    <p>You have not saved yet</p>

{% endif %}
<script>
    $(document).ready(function() {


    $(".user-activities li.post, .user-activities li.product, a.post, a.product").on("click", UpdateFavouriteContainer);



});
</script>