
[Unit]
Description=uWSGI instance to serve flask-uwsgi project
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/app
Environment="PATH=/home/ubuntu/venv/aqua_venv/bin"
ExecStart=/home/ubuntu/venv/aqua_venv/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target