{% from 'helpers.html' import products_macro with context %}

{% if products|length >= 1 %}

     <div class="ct-tabHeader ct-tabHeader--motive" role="tabpanel">
        <ul class="list-unstyled text-uppercase ct-fw-600" role="tablist">
            <li role="presentation" class="active favourite_block" id="date" >
                <div class="ct-tabBorder">

                    <a href="" id="date" class="product"  user="{{ user_id }}" role="tab" data-toggle="tab">latest</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>
            <li role="presentation" class="favourite_block" id="vote">
                <div class="ct-tabBorder">


                    <a href="" id="vote" class="product"  user="{{ user_id }}" role="tab" data-toggle="tab">popular</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>

        </ul>
    </div>

        <div class="ct-product animated fadeIn">
            {% for product in products %}
                <div class="col-sm-6 col-md-6 col-xs-12 ct-u-paddingTop20">

                {{ products_macro(product, products_relationships) }}
                </div>
            {% endfor %}
         </div>


{% else %}
    <p>You have not saved yet</p>

            {% endif %}



<script>
    $(document).ready(function() {
    $("img.unliked, img.liked").on("click", ToggleLikeUnlike);
    $('.smile').on("click", AddReaction);
    ShowReactionDiv();
    $("i.favourite.product-fav, i.not-favourite.product-fav").on('click', ToggleProductFavour);

    $(".ct-tabBorder .product").on("click", UpdateFavouriteContainer);



});
</script>