{% from 'helpers.html' import products_macro with context %}
<script type="text/javascript" src="{{ url_for ('static', filename= "js/single_product.js") }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename= "js/my.js") }}"></script>

{% if products|length >= 1 %}

     <div class="ct-tabHeader ct-tabHeader--motive" role="tabpanel">
        <ul class="list-unstyled text-uppercase ct-fw-600" role="tablist">
            <li role="presentation" class="active">
                <div class="ct-tabBorder">

                    <a href="" id="date" class="product"  user="{{ user_id }}" role="tab" data-toggle="tab">latest</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>
            <li role="presentation" class="">
                <div class="ct-tabBorder">


                    <a href="" id="vote" class="product"  user="{{ user_id }}" role="tab" data-toggle="tab">popular</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>

        </ul>
    </div>

        <div class="ct-product animated fadeIn">
            {% for product in products %}
                <div class="col-sm-6 col-md-4 col-xs-12 ct-u-paddingTop20">

                {{ products_macro(product, dict_like, list_of_favourite) }}
                </div>
            {% endfor %}
         </div>


{% else %}
    <p>You have not saved yet</p>

            {% endif %}



<script>
    $(document).ready(function() {


    $(".user-activities li.post, .user-activities li.product, a.post, a.product").on("click", UpdateFavouriteContainer);



});
</script>