{% from 'helpers.html' import products_macro with context %}


{% if products|length >= 1 %}
     <div class="ct-tabHeader ct-tabHeader--motive" role="tabpanel">
        <ul class="list-unstyled text-uppercase ct-fw-600" role="tablist">
            <li role="presentation" class="active" id="product_block" sort="date" user ="{{ user_id }}">
                <div class="ct-tabBorder">


                    <a href=""  role="tab" data-toggle="tab">latest</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>
            <li role="presentation" class="" id="product_block" sort="vote" user ="{{ user_id }}">
                <div class="ct-tabBorder">


                    <a href=""  role="tab" data-toggle="tab">popular</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>

        </ul>
    </div>

    <div class="ct-product animated fadeIn">
            {% for product in products %}
                <div class="col-sm-6 col-md-4 col-xs-12 ct-u-paddingTop20">

                {{ products_macro(product, products_relationship) }}
                </div>
            {% endfor %}
         </div>
{% else %}
    <p>You have not product yet</p>
    <p>Could you add one?</p>
    <a href="{{url_for('add_product')}}">Add_product</a>
            {% endif %}

<script>
    $(document).ready(function() {

    $("img.unliked, img.liked").on("click", ToggleLikeUnlike);
    $('.smile').on("click", AddReaction);
    ShowReactionDiv();
    $("i.favourite.product-fav, i.not-favourite.product-fav").on('click', ToggleProductFavour);
    $("li#product_block").on("click", UpdateProductContainer);



});
</script>
