{% from 'helpers.html' import post_comment_macro with context %}
    {% from 'helpers.html' import render_pagination with context %}

{% if comments|length >= 1 %}
    <div class="ct-tabHeader ct-tabHeader--motive" role="tabpanel">
        <ul class="list-unstyled text-uppercase ct-fw-600" role="tablist">
            <li role="presentation" class="active comment_block" id="date" rel_obj="comment"  user="{{ user_id }}">
                <div class="ct-tabBorder">

                    <a href=""  role="tab" data-toggle="tab">последние</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>
            <li role="presentation" class="comment_block" id="vote" rel_obj="comment"  user="{{ user_id }}">
                <div class="ct-tabBorder">


                    <a href=""  role="tab" data-toggle="tab">популярные</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>

        </ul>
    </div>

<div id="comments">
    {% for comment in comments %}
        {% if not comment.deleted %}

            <div class="ct-u-borderBottomGrayLighter ct-u-marginTop5 ct-u-paddingBoth10 col-xs-12">
            Комментарий к посту
            <a href="{{ url_for('singlepost', postid = comment.post_id ) }}">{{ comment.post.title }}</a>
            {{ post_comment_macro(comment, comments_relationships) }}
            </div>
        {% endif %}
    {% endfor %}


{% else %}
    <p>Вы еще ничего не прокомментировали</p>
    <p>Хотите что-нибудь <a href="{{ url_for('last_posts') }}">почитать</a>?</p>

{% endif %}
</div>

<script>


$(document).ready(function() {

    $("img.unliked, img.liked").on("click", ToggleLikeUnlike);
    $('.smile').on("click", AddReaction);
    ShowReactionDiv();
    $(".discussion.post-form.comment-login").on("click", RenderPostCommentForm);
    $(".ct-tabHeader li.comment_block").on("click", UpdateCommentContainer);




});

</script>
