{% from 'helpers.html' import posts_macro with context %}
{#<!--<script type="text/javascript" src="{{ url_for ('static', filename= "js/single_post.js") }}"></script>-->#}
{#<!--<script type="text/javascript" src="{{ url_for ('static', filename= "js/my.js") }}"></script>-->#}

{% if posts|length >= 1 %}
    <div class="ct-tabHeader ct-tabHeader--motive" role="tabpanel">
        <ul class="list-unstyled text-uppercase ct-fw-600 nav nav-tabs" role="tablist">
            <li id="post_block" sort="date" user ="{{ user_id }}" role="presentation" class="active">
                <div class="ct-tabBorder">


                    <a href="#"  role="tab" data-toggle="tab">последние</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>
            <li role="presentation"  id="post_block" sort="vote" user ="{{ user_id }}">
                <div class="ct-tabBorder">


                    <a href="#" role="tab" data-toggle="tab">популярные</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>

        </ul>
    </div>






<div class="ct-blog ct-js-blogMasonry ct-u-borderBottomGrayLighter ct-u-paddingBottom20">
    {% for post in posts %}
         <div class="col-md-12 ct-js-blogMasonry-item" >

        {{ posts_macro(post, posts_relationships) }}
         </div>

    {% endfor %}

    </div>
{% else %}
    <p>Вы еще не создавали постов</p>
    <p>Хотите о чем-нибудь <a href="{{ url_for('add_post') }}">написать</a>?</p>

{% endif %}



<script>

$(document).ready(function() {

    $("img.unliked, img.liked").on("click", ToggleLikeUnlike);
    $('.smile').on("click", AddReaction);
    ShowReactionDiv();
    $("i.favourite.post-fav, i.not-favourite.post-fav").on('click', TogglePostfavour);
    $("li#post_block").on("click", UpdatePostContainer);


});
</script>