{% from 'helpers.html' import product_comment_macro with context %}
<!--<script type="text/javascript" src="{{ url_for ('static', filename= "js/user_container.js") }}" async></script>-->
<!--<script type="text/javascript" src="{{ url_for ('static', filename= "js/comment.js") }}"></script>-->

{% if comments|length >= 1 %}
    <div class="ct-tabHeader ct-tabHeader--motive" role="tabpanel">
        <ul class="list-unstyled text-uppercase ct-fw-600" role="tablist">
            <li role="presentation" class="active comment_block" id="date" rel_obj="prod_comment"  user="{{ user_id }}">
                <div class="ct-tabBorder">

                    <a href=""  role="tab" data-toggle="tab">последние</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>
            <li role="presentation" class="comment_block" id="vote" rel_obj="prod_comment"  user="{{ user_id }}">
                <div class="ct-tabBorder">


                    <a href=""  role="tab" data-toggle="tab">популярные</a>
                </div>
                <div class="mini-triangle">

                </div>
            </li>

        </ul>
    </div>


    {% for comment in comments %}
        {% if comment.deleted == False %}
            Комментарий к продукту <a href="{{url_for('singleproduct', product_id = comment.product_id )}}">{{comment.product.title}}</a>
            {{ product_comment_macro(comment, comments_relationships) }}
        {% endif %}
    {% endfor %}
{% else %}
    {% if current_user == user %}
    <p>Вы еще ничего не прокомметировали</p>
    <p>Хотите что-нибудь <a href="{{url_for('popular_product')}}">почитать</a>?</p>
        {% else %}
        <p>Этот форумчанин еще не комментировал продукты</p>
    {% endif %}

{% endif %}

<script>
$(document).ready(function() {

    $("img.unliked, img.liked").on("click", ToggleLikeUnlike);
    $('.smile').on("click", AddReaction);
    ShowReactionDiv();
    $(".discussion.product-form.comment-login").on("click", RenderProductCommentForm);
    $(".ct-tabHeader li.comment_block").on("click", UpdateCommentContainer);


 });
</script>