{% extends "base.html" %}

{% block body %}

<div id="status">
</div>


<style>
    .container {
      max-width: 640px;
      margin: 20px auto;
    }
    img {
      max-width: 100%;
    }
    /* Override Cropper's styles */
    .cropper-view-box,
    .cropper-face {
      border-radius: 50%;
    }
  </style>

  <div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <div class="ct-sectionHeader ct-u-paddingBoth20">
        <h2 class="ct-u-size34">Crop yor avatar</h2>
     </div>
     <div>
         <img id="image" src="{{ url_for('uploaded_file',filename= user.avatar) }}" alt="Picture">


     </div>
     <button type="button" id="button" class="btn btn-motive btn-form" >Crop</button>
     <div id="result"></div>
   </div>
  </div>
  </div>
<script>
    (function () {
      function getRoundedCanvas(sourceCanvas) {
        var canvas = document.createElement('canvas');
        var context = canvas.getContext('2d');
        var width = sourceCanvas.width;
        var height = sourceCanvas.height;
        canvas.width = width;
        canvas.height = height;
        context.imageSmoothingEnabled = true;
        context.drawImage(sourceCanvas, 0, 0, width, height);
        context.globalCompositeOperation = 'destination-in';
        context.beginPath();
        context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI, true);
        context.fill();
        return canvas;
      }
      window.addEventListener('DOMContentLoaded', function () {
        var image = $('#image');
        var button = $('#button');
        var result = $('#result');
        var croppable = false;
        var cropper = image.cropper( {
          aspectRatio: 1,
          viewMode: 1,
          crop: function () {
            croppable = true;
          }
        });
        button.onclick = function () {

          var croppedCanvas;
          var roundedCanvas;
          var roundedImage;
          if (!croppable) {
            return;
          }

          // Crop
          croppedCanvas = cropper.getCroppedCanvas();
          // Round
          roundedCanvas = getRoundedCanvas(croppedCanvas);

          var image_data = cropper.getData();
          alert(1)

          $.post( $SCRIPT_ROOT + "/crop_image", image_data ,function( data ){
             var username = "{{ user.username }}";
             window.location.href=$SCRIPT_ROOT + "/user/" + username;
             });
        };
      });
    })();
</script>
{% endblock %}