{% extends "base.html" %}

{% block body %}

<div id="status">
</div>


<style>
    .container {
      max-width: 640px;
      margin: 20px auto;
    }
    img {
      max-width: 100%;
    }
    /* Override Cropper's styles */
    .cropper-view-box,
    .cropper-face {
      border-radius: 50%;
    }
  </style>

  <div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <div class="ct-sectionHeader ct-u-paddingBoth20">
        <h2 class="ct-u-size34">Crop yor avatar</h2>
     </div>
     <div>
         <img id="image" src="{{ url_for('uploaded_file',filename= user.avatar) }}" alt="Picture">


     </div>
     <button type="button" id="button" class="btn btn-motive btn-form" >Crop</button>
     <div id="result"></div>
   </div>
  </div>
  </div>
<script>
  function getRoundedCanvas(sourceCanvas) {
      var canvas = document.createElement('canvas');
      var context = canvas.getContext('2d');
      var width = sourceCanvas.width;
      var height = sourceCanvas.height;
      canvas.width = width;
      canvas.height = height;
      context.beginPath();
      context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI);
      context.strokeStyle = 'rgba(0,0,0,0)';
      context.stroke();
      context.clip();
      context.drawImage(sourceCanvas, 0, 0, width, height);
      return canvas;
    }
    $(function () {
      var $image = $('#image');
      var $button = $('#button');
      var $result = $('#result');
      var croppable = false;
      $image.cropper({
        aspectRatio: 1,
        viewMode: 1,
        ready: function () {
          croppable = true;
        }
      });
      $button.on('click', function () {
        var croppedCanvas;
        var roundedCanvas;
        if (!croppable) {
          return;
        }
        // Crop
        croppedCanvas = $image.cropper('getCroppedCanvas');
        // Round
        roundedCanvas = getRoundedCanvas(croppedCanvas);
        // Get data and send
          var image_data = $image.cropper('getData');

          $.post( $SCRIPT_ROOT + "/crop_image", image_data ,function( data ){
             var username = "{{ user.username }}";
             window.location.href=$SCRIPT_ROOT + "/user/" + username;
             });
      });
    });



</script>
{% endblock %}