{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="row">
        {% if dialogs|length ==0 %}
            <h1 class="text-center">
            У вас пока нет диалогов
                                                        <img src="{{ url_for('static',filename= "image/empty_dialogs.png") }}" width="300"/>

            </h1>
<div class="col-md-12 col-xs-12" >
 <p class="ct-u-size26 ct-u-paddingBoth12">
     Посмотрите <a href="{{ url_for("all_users") }}">список форумчанинов.</a> Может, вы захотите написать кому-то?
            </p>
</div>

        {% else %}

            <div class="col-md-4 col-xs-12" id="dialogs-container">
                {% for dialog in dialogs %}
                    <div class="one-dialog" id= {{ dialog.id }}>

                        <div class="left-image">
                        <a href="{{ url_for("user", username = users_dict[dialog.id].username) }}">

                            {% if users_dict[dialog.id].avatar_min %}

                                <img class="img-inherited"
                                     src="{{ url_for('uploaded_file',filename= users_dict[dialog.id].avatar_min) }}"/>
                            {% else %}
                                <img src="{{ url_for('static',filename= "image/min_icon-user-default.png") }}"/>
                            {% endif %}
                        </a>
                        </div>
                        <div class="description">
                            <div class="ct-u-floatLeft">
                                <p class="ct-u-marginBottom0">

                                    <span>{{ users_dict[dialog.id].username }} </span>

                                    -
                                    <span id="date{{ dialog.id }}">{{ dialog.last_massage_date }}</span>
                                </p>
                                <div style="clear: both;"></div>


                                <div class="textbox">
                                    <p class="ct-u-floatLeft" id="text{{ dialog.id }}"> {{ dialog.short_text }}</p>
                                    {% if not dialog.readed %}

                                        <p>
                                            {% if current_user.id == dialog.last_receiver %}
                                                <i id = "circle{{ dialog.id }}" class="fa fa-circle ct-u-floatRight ct-u-size14 ct-u-marginTop10 circle-not-read-self"></i>
                                            {% else %}
                                                <i id = "circle{{ dialog.id }}" class="fa fa-circle ct-u-floatRight ct-u-size14 ct-u-marginTop10 circle-not-read"></i>

                                            {% endif %}

                                        </p>
                                     {% else %}
                                        <p>
                                            <i id = "circle{{ dialog.id }}" class="ct-u-floatRight ct-u-size14 ct-u-marginTop10"></i>

                                        </p>
                                    {% endif %}


                                </div>
                                <div style="clear: both;"></div>

                            </div>
                        </div>


                    </div>
                {% endfor %}
            <i id = {{ send_to_user }}></i>
            </div>
        <div class="ct-messageMobile">
                            <div class="ct-messageNavbarMobile ct-messageNavbarMobile--header">
                            <i class="fa fa-arrow-left ct-u-size25 ct-fw-300" id="hide-messages"></i>



                            </div>
                            <div class="messages_box_mobile">

                            </div>

                        </div>

            <div class="col-md-8 ct-u-positionRelative">
                <div id="messages_box" class="ct-u-marginBottom40">

                </div>


            </div>
{% endif %}
        </div>
    </div>

    <script>
        $(".one-dialog").on("click", function (event) {
                        event.preventDefault();
                        var this_dialog = $(this);
            var dialog_id = $(this).attr("id");
            if ($(window).width() <= 768) {
                $(".ct-messageMobile").show();
                $(".ct-navbarMobile.ct-navbarMobile--header").hide();
            }
            $.get($SCRIPT_ROOT + '/messages_box', {dialog_id: dialog_id}, function (data) {
                 if ($(window).width() <= 768) {
                $(".messages_box_mobile").html(data.messages);
                $('.messages_box_mobile').animate({
                scrollTop: $('#message-container')[0].scrollHeight}, 2000);
            }
            else{
                     $("#messages_box").html(data.messages);
                     console.log(".one-dialog#"+ data.dialog_id + " textbox p i");


                 }

                 {# id dialog wasn't read by the user, delete cicrle not-read #}
                      if ($("#circle"+ data.dialog_id).hasClass("circle-not-read-self")){
            $("#circle"+ data.dialog_id).removeClass("circle-not-read-self fa fa-circle");

                }



            });
            event.preventDefault();
        });
        $(".ct-messageNavbarMobile i").on("click", function () {
            $(".one-dialog").on('click');
            $(".ct-messageMobile").fadeToggle();
            $(".ct-navbarMobile.ct-navbarMobile--header").show();



        });
        var $deviceheight = (window.innerHeight > 0) ? window.innerHeight : screen.height;

        $("#dialogs-container").css("min-height", $deviceheight * 0.8 + "px");

    </script>
{% endblock %}