{#all comment to post on page "single_post"#}
{% macro post_comment_macro(comment, dict_like) -%}
    <div id="comment{{ comment.id }}">
    {% if comment.deleted %}
        <p>Comment has  been deleted</p>
    {% else %}


        <div class="left-image">
            {% if comment.com_author.avatar_min %}
                <img class="img-inherited"
                     src="{{ url_for('uploaded_file',filename= comment.com_author.avatar_min) }}"/>
            {% else %}
                <img src="{{ url_for('uploaded_file',filename= "min_icon-user-default.png") }}" width="40px"/>
            {% endif %}
        </div>
        <div class="description">

            <p class="ct-u-paddingBottom5">
                <span>{{ comment.com_author.username }} </span>
                - {{ comment.timestamp|datetime }}
            </p>
            <p>
                {% if comment.image %}
                    <img class="img-inherited" src="{{ url_for('uploaded_file',filename = comment.image) }}"/>
                {% endif %}
                {{ comment.text }}
            </p>
            <div class="under-box comment-under-box">
                {{ popup_div_macro(comment.id, "like_comment ") }}
                <div class="reaction-button">
                    <ul class="like-left like-inline">
                        <li>
                            {% if current_user.is_authenticated %}
                                {% if dict_like[comment.id] %}
                                    {% if dict_like[comment.id] == "like" %}
                                        <img class="liked"
                                             src="{{ url_for('static',filename="image/reaction-like.png" ) }}"
                                             obj_id={{ comment.id }} url = "like_comment" />

                                    {% elif dict_like[comment.id] == "unlike" %}
                                        <img class="liked"
                                             src="{{ url_for('static',filename="image/reaction-unlike.png" ) }}"
                                             obj_id={{ comment.id }} url = "like_comment"  />

                                    {% elif dict_like[comment.id] == "funny" %}
                                        <img class="liked"
                                             src="{{ url_for('static',filename="image/reaction-funny.png" ) }}"
                                             obj_id={{ comment.id }} url = "like_comment" />

                                    {% elif dict_like[comment.id] == "angry" %}
                                        <img class="liked"
                                             src="{{ url_for('static',filename="image/reaction-angry.png" ) }}"
                                             obj_id={{ comment.id }} url = "like_comment"  />
                                    {% endif %}
                                {% else %}
                                    <img class="unliked"
                                         src="{{ url_for('static',filename="image/not-reaction.png" ) }}"
                                         url="like_comment" obj_id={{ comment.id }}/>

                                {% endif %}
                            {% else %}
                                <img class="like-not-login"
                                     src="{{ url_for('static',filename="image/not-reaction.png" ) }}"/>

                            {% endif %}
                        </li>
                        <li><h4>like</h4></li>
                    </ul>
                </div>
                <div id="button_comment1" class="comment-button">
                    <ul>
                        <li>
                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                        </li>
                        <li>
                            {% if current_user.is_authenticated %}

                                <h4 class="discussion post-form comment-login" id="{{ comment.id }}"
                                    user="{{ comment.com_author.username }}"
                                    post_id="{{ comment.post_id }}">discussion</h4>
                            {% else %}
                                <h4 class="discussion post-form comment-not-login">discussion</h4>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="comment-edit">
                    {% if current_user == comment.com_author %}

                        <div class="dropdown post_com_edit" id="edit{{ comment.id }}">

                            <h4 class="dropdown-toggle " data-toggle="dropdown">
                                <nav class="plus ct-Diamond ct-Diamond--motive"></nav>
                                edit
                            </h4>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" onclick="edit_comment(event, {{ comment.id }}, '/edit_post_comment');">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>edit</a></li>
                                <li><a href="#"
                                       onclick="delete_comment(event, {{ comment.id }}, '/delete_post_comment');">delete</a>
                                </li>

                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="comment-counter reaction-counter">
                    <ul>
                        <li>
                            <span id="like_count_like_comment_{{ comment.id }}">{{ comment.like_count }} </span>
                            <img class="smile" src="{{ url_for('static',filename="image/reaction-like.png" ) }}" width=20/>
                            <span id="unlike_count_like_comment_{{ comment.id }}">{{ comment.unlike_count }} </span>
                            <img class="smile" src="{{ url_for('static',filename="image/reaction-unlike.png" ) }}" width=20/>
                            <span id="funny_count_like_comment_{{ comment.id }}">{{ comment.funny_count }} </span>
                            <img class="smile" src="{{ url_for('static',filename="image/reaction-funny.png" ) }}" width=20/>
                            <span id="angry_count_like_comment_{{ comment.id }}">{{ comment.angry_count }} </span>
                            <img class="smile" src="{{ url_for('static',filename="image/reaction-angry.png" ) }}"width=20/>

                        </li>
                    </ul>
                </div>
            </div>
            <div class=answer id="answer{{ comment.id }}">

            </div>
        </div>
    {% endif %}

    </div>
{%- endmacro %}



















{#all comment to product on page "single_product"#}
{% macro product_comment_macro(comment, dict_like) -%}
    <div id="comment{{ comment.id }}">
        {% if comment.deleted %}
            <p> Comment hase been deleted </p>

        {% else %}
            <div class="left-image">
                {% if comment.com_author.avatar_min %}
                    <img class="img-inherited"
                         src="{{ url_for('uploaded_file',filename=comment.com_author.avatar_min) }}"/>
                {% else %}
                    <img src="{{ url_for('uploaded_file',filename="min_icon-user-default.png") }}" width="40px"/>
                {% endif %}
            </div>
            <div class="description">
                <p class="ct-u-paddingBottom5">
                    <span>{{ comment.com_author.username }} </span>
                    - {{ comment.timestamp|datetime }}
                </p>
                <p>
                    {% if comment.image %}
                        <img class="img-inherited" src="{{ url_for('uploaded_file',filename= comment.image) }}"/>
                    {% endif %}
                    {{ comment.text }}
                </p>
                <div class="under-box comment-under-box">
                    {{ popup_div_macro(comment.id, "like_prodcomment ") }}
                    <div class="reaction-button">
                        <ul class="like-left like-inline">
                            <li>
                                {% if current_user.is_authenticated %}
                                    {% if dict_like[comment.id] %}

                                        {% if dict_like[comment.id] == "like" %}
                                            <img class="liked"
                                                 src="{{ url_for('static',filename="image/reaction-like.png" ) }}"
                                                 obj_id={{ comment.id }} url = "like_prodcomment" />

                                        {% elif dict_like[comment.id] == "unlike" %}
                                            <img class="liked"
                                                 src="{{ url_for('static',filename="image/reaction-unlike.png" ) }}"
                                                 obj_id={{ comment.id }} url = "like_prodcomment"  />

                                        {% elif dict_like[comment.id] == "funny" %}
                                            <img class="liked"
                                                 src="{{ url_for('static',filename="image/reaction-funny.png" ) }}"
                                                 obj_id={{ comment.id }} url = "like_prodcomment" />

                                        {% elif dict_like[comment.id] == "angry" %}
                                            <img class="liked"
                                                 src="{{ url_for('static',filename="image/reaction-angry.png" ) }}"
                                                 obj_id={{ comment.id }} url = "like_prodcomment"  />
                                        {% endif %}
                                    {% else %}
                                        <img class="unliked"
                                             src="{{ url_for('static',filename="image/not-reaction.png" ) }}"
                                             url="like_prodcomment" obj_id={{ comment.id }}/>

                                    {% endif %}
                                {% else %}
                                    <img class="like-not-login"
                                         src="{{ url_for('static',filename="image/not-reaction.png" ) }}"/>

                                {% endif %}
                            </li>
                            <li><h4>like</h4></li>
                        </ul>
                    </div>
                    <div id="button_comment1" class="comment-button">
                        <ul>
                            <li>
                                <i class="fa fa-comments-o" aria-hidden="true"></i>
                            </li>
                            {% if current_user.is_authenticated %}

                                <li>
                                    <h4 class="discussion product-form comment-login" id="{{ comment.id }}"
                                        user="{{ comment.com_author.username }}"
                                        product_id="{{ comment.product_id }}">discussion</h4>
                                </li>
                            {% else %}
                                <li>
                                    <h4 class="discussion product-form comment-not-login">discussion</h4>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="comment-edit">
                        {% if current_user == comment.com_author %}

                            <div class="dropdown prod_com_edit" id="edit{{ comment.id }}">

                                <h4 class="dropdown-toggle " data-toggle="dropdown">
                                    <nav class="plus ct-Diamond ct-Diamond--motive"></nav>
                                    edit
                                </h4>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" onclick="edit_comment(event, {{ comment.id }}, '/edit_prod_comment');">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>edit</a></li>
                                    <li><a href="#"
                                           onclick="delete_comment(event, {{ comment.id }}, '/delete_prod_comment');">delete</a>
                                    </li>

                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <div class="comment-counter reaction-counter">
                        <ul>
                            <li>
                                <span id="like_count_like_prodcomment_{{ comment.id }}">{{ comment.like_count }} </span><img
                                    class="smile" src="{{ url_for('static',filename="image/reaction-like.png" ) }}"
                                    width=20/>
                                <span id="unlike_count_like_prodcomment_{{ comment.id }}">{{ comment.unlike_count }} </span><img
                                    class="smile" src="{{ url_for('static',filename="image/reaction-unlike.png" ) }}"
                                    width=20/>
                                <span id="funny_count_like_prodcomment_{{ comment.id }}">{{ comment.funny_count }} </span><img
                                    class="smile" src="{{ url_for('static',filename="image/reaction-funny.png" ) }}"
                                    width=20/>
                                <span id="angry_count_like_prodcomment_{{ comment.id }}">{{ comment.angry_count }} </span><img
                                    class="smile" src="{{ url_for('static',filename="image/reaction-angry.png" ) }}"
                                    width=20/>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class=answer id="answer{{ comment.id }}">
                </div>
            </div>

    {% endif %}
    </div>


{%- endmacro %}


















{% macro comment_edit(url, comment) -%}
    <form action="{{ url_for( url, comment_id=comment.id ) }}" method="post"
          enctype="multipart/form-data" class="edit_comment">
                                {{form.hidden_tag()}}
    <div class="form-group col-xs-9 col-sm-9">
                            {{form.text(class_="form-control", rows=2)}}

                        </div>
                        <div id ="hide" class="form-group col-xs-3 col-sm-2">
                            <label class="hand-cursor">
                               {{form.file}}
                                <span class="fa fa-camera"></span>
                                <span class="photo_text hidden-xs">Image</span>
                            </label>
                            <button type="submit" class="btn btn-motive">comment</button>



                        </div>

                         {% if form.errors %}
                                        <ul class=errors>
                                         {% for error in form.errors %}
                                          <li>{{ error }}</li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}





    </form>
{%- endmacro %}







{% macro posts_macro(post, dict, list_of_favourite) -%}
    <article class="ct-articleBox">
        <a href="{{ url_for('singlepost', postid=post.id) }}"><h5 class="ct-u-size24">{{ post.title }}</h5></a>
        <p class="ct-u-motiveLight">
            By
            <a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a> on
            {{ post.published_at|datetime }}

        </p>
        <p>
            {% if post.image %}
                <img src="{{ url_for('uploaded_file',filename=post.image) }}"/><br>

                {{ post.body|truncate(70, True) }}

            {% else %}
                {{ post.body|truncate(150, True) }}
            {% endif %}
        </p>
        <div class="under-box">
            <div class="reaction-counter grid">

                <span id="like_count_like_post_{{ post.id }}">{{ post.like_count }} </span><img
                    class="smile img-rounded" src="{{ url_for('static',filename="image/reaction-like.png" ) }}"
                    width=20/>
                <span id="unlike_count_like_post_{{ post.id }}">{{ post.unlike_count }} </span><img
                    class="smile img-rounded" src="{{ url_for('static',filename="image/reaction-unlike.png" ) }}"
                    width=20/>
                <span id="funny_count_like_post_{{ post.id }}">{{ post.funny_count }} </span><img
                    class="smile img-rounded" src="{{ url_for('static',filename="image/reaction-funny.png" ) }}"
                    width=20/>
                <span id="angry_count_like_post_{{ post.id }}">{{ post.angry_count }} </span><img
                    class="smile img-rounded" src="{{ url_for('static',filename="image/reaction-angry.png" ) }}"
                    width=20/>

            </div>
            <div class="favourite-button grid">
                <ul class="list-unstyled">
                    <li>
                        {% if current_user.is_authenticated %}
                            {% if post in list_of_favourite %}
                                <i class="fa fa-star favourite post-fav" id="{{ post.id }}" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-star-o not-favourite post-fav" id="{{ post.id }}"
                                   aria-hidden="true"></i>
                            {% endif %}
                        {% else %}

                            <i class="fa fa-star-o favourite-not-login" id="{{ post.id }}" aria-hidden="true"></i>
                        {% endif %}
                    </li>

                </ul>
            </div>
        </div>


    </article>

{%- endmacro %}












{#generate product_boxes#}
{% macro products_macro(product, dict, list_of_favourite ) -%}
    <div class="product-title">
        <a href="{{ url_for('singleproduct', product_id=product.id) }}">
            <h5 class="ct-imgWrapper-name opacity-title ct-u-size24 text-center">{{ product.title|truncate (50, False) }}</h5>
        </a>
    </div>
    <div class="ct-imgWrapper">
        <div class="ct-shopIcon">
            {% if current_user.is_authenticated %}

                {% if product in list_of_favourite %}
                    <i class="fa fa-star favourite product-fav" id="{{ product.id }}" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-star-o not-favourite product-fav" id="{{ product.id }}" aria-hidden="true"></i>
                {% endif %}
            {% else %}
                <i class="fa fa-star favourite-not-login" aria-hidden="true"></i>

            {% endif %}
        </div>
        <div class="image-container">
            {% if product.image %}
                <img class="product-img" src="{{ url_for('uploaded_file',filename=product.image[0].filename) }}"/>
            {% else %}
                <img class="product-img" src="{{ url_for('static',filename="image/default_product.jpg") }}"/>
            {% endif %}
        </div>
        <div class="ct-imgWrapper-triangle"></div>
        <div class="ct-starRating">
            <span id="like_count_like_product_{{ product.id }}">{{ product.like_count }} </span>
            <img class="smile"src="{{ url_for('static',filename="image/reaction-like.png" ) }}"/>
            <span id="unlike_count_like_product_{{ product.id }}">{{ product.unlike_count }} </span>
            <img class="smile"src="{{ url_for('static',filename="image/reaction-unlike.png" ) }}"/>
            <span id="funny_count_like_product_{{ product.id }}">{{ product.funny_count }} </span>
            <img class="smile" src="{{ url_for('static',filename="image/reaction-funny.png" ) }}"/>
            <span id="angry_count_like_product_{{ product.id }}">{{ product.angry_count }} </span>
            <img class="smile" src="{{ url_for('static',filename="image/reaction-angry.png" ) }}"/>
        </div>
    </div>
    <p class="ct-u-paddingTop30"> {{ product.description | truncate(150, False) }}</p>
    <span class="ct-fw-600 ct-u-motiveDark ct-u-size30">{{ product.price }}</span>
    <a class="ct-fakeButton text-uppercase pull-right ct-u-motiveDark--bg">In stock</a>
{%- endmacro %}








{#generate div with four different reaction when mouse hover on smile#}
{% macro popup_div_macro(id, url) -%}
    <div class="popup-div" obj_id={{ id }} url={{ url }}>
        <img class="smile" src="{{ url_for('static',filename="image/reaction-like.png" ) }}" obj_id={{ id }} width="40"
             type="like" url={{ url }}/>
        <img class="smile" src="{{ url_for('static',filename="image/reaction-unlike.png" ) }}"
             obj_id={{ id }} width="40"
             type="unlike" url={{ url }}/>
        <img class="smile" src="{{ url_for('static',filename="image/reaction-funny.png" ) }}" obj_id={{ id }} width="40"
             type="funny" url={{ url }}/>
        <img class="smile" src="{{ url_for('static',filename="image/reaction-angry.png" ) }}" obj_id={{ id }} width="45"
             type="angry" url={{ url }}/>
    </div>
{% endmacro %}







{% macro render_field(field) %}
    {{ field.label }}
    {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {{ field(**kwargs)|safe }}
{% endmacro %}