{% extends "base.html" %}

{% from 'helpers.html' import posts_macro with context %}
{% from 'helpers.html' import products_macro with context %}


{% block navbar %}
    <nav class="navbar ct-navbar yamm ct-navbar--fadeIn ct-navbar-onepage navbar-transparent" role="navigation">
        <div class="container">
            <div class="ct-navbarContainer">
                <div class="navbar-header">

                    <a class="navbar-brand" href="{{ url_for('index') }}">
                        <img id="ct-js-logo"
                             src="{{ url_for('static',filename="image/logo-gray.png") }}"
                             alt="FISHtank"
                             width="49px"   >
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for("index") }}">Home</a></li>
                    <li><a href="{{ url_for("popular_product") }}">Catalog</a></li>
                    <li><a href="{{ url_for("last_posts") }}">Blog</a></li>
                </ul>
                <ul class="nav navbar-nav yamm ct-navbar--right">
                    {% if current_user.is_authenticated %}
                        <li>
                            <a id="navbar-avatar" href="{{ url_for('user', username = current_user.username) }}">
                                {% if current_user.avatar_min %}
                                    <img src="{{ url_for('uploaded_file',filename=current_user.avatar_min) }}"/>
                                {% else %}
                                    <img src="{{ url_for('uploaded_file',filename="min_icon-user-default.png") }}"/>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('user', username = current_user.username) }}">{{ current_user.username }}</a>
                        </li>
                        <li>
                            <a href="{{ url_for('security.logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('security.login') }}">Login</a>
                        </li>
                        <li>
                            <a href="{{ url_for('security.register') }}">Register</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>{% endblock %}
{% block body %}
    <div class="section"></div>

    {{ datetime }}
    <section class="ct-mediaSection">
        <div class="flexslider ct-flexslider--fw ct-flexslider--controls3 ct-flexslider--mainSlider ct-u-marginBoth0 ct-js-flexslider"
             data-pauseonaction="false" data-directionnav="true" data-animations="true" data-height="100%"
             data-controlnav="true" data-animationloop="true" data-controlscontainer="ct-containerAbsolute"
             data-slideshow="true" style="max-height: 30%; height: 345px;">

            <div class="ct-flexslider-progress">
                <div class="ct-flexslider-progressBar" , style="width: 0px;">

                </div>
            </div>
            <ul class="slides">
                <li style="background-image: url({{ url_for('static',filename="image/flexslider/carusel1.jpg") }}); min-height: 100%; height: 30%; width: 1149px; float: left; display: block;
                        class=" ">

                </li>
                <li style="background-image: url({{ url_for('static',filename="image/flexslider/carusel2.jpg") }}); min-height: 100%; height: 100%; width: 1149px; float: left; display: block;
                        class="">

                </li>
                <li style="background-image: url({{ url_for('static',filename="image/flexslider/carusel3.jpg") }}); min-height: 100%; height: 100%; width: 1149px; float: left; display: block;
                        class="">

                </li>
                <li style="background-image: url({{ url_for('static',filename="image/flexslider/carusel4.jpg") }}); min-height: 100%; height: 100%; width: 1149px; float: left; display: block;
                        class="">

                </li>

            </ul>

        </div>

        </div>

    </section>


    <section class="ct-u-paddingBoth30">
        <div class="container">
            <div class="ct-tabHeader ct-tabHeader--motive" role="tabpanel">
                 <ul class="list-unstyled text-uppercase ct-fw-600" role="tablist">
                    <li role= class=""><div class="ct-tabBorder"><a href="{{url_for("last_posts")}}">Latest posts </a></div><div class="mini-triangle"></div></li>
                </ul>
            </div>

            <div class="ct-blog ct-js-blogMasonry ct-u-borderBottomGrayLighter ct-u-paddingBottom20 ">
                        {% for post in posts%}
                            {% if not post.deleted %}
                                <div class="col-sm-6 ct-js-blogMasonry-item home-post-grid" >

                                    {{ posts_macro(post, posts_relationship) }}
                                </div>
                            {% endif %}
                        {% endfor %}
            </div>
        </div>

    </section>


    <section class="ct-u-motiveLight2--bg ct-u-paddingBoth30">
        <div class="container">
            <div class="ct-tabHeader ct-tabHeader--motive" role="tabpanel">
                 <ul class="list-unstyled text-uppercase ct-fw-600" role="tablist">
                    <li class=""><div class="ct-tabBorder"><a href="{{url_for("popular_product")}}" >Popular product </a></div><div class="mini-triangle"></div></li>
                </ul>
            </div>

            <div id="product_container" class="row ct-u-paddingTop20">
        <div class="ct-product">
            {% for product in products %}

                {% if not product.deleted %}
                    <div class="col-md-4 col-xs-12 ct-u-paddingTop30">

                    {{ products_macro(product, products_relationship) }}

                    </div>
                {% endif %}
            {% endfor %}
         </div>

    </div>
        </div>

    </section>

<script>
$(document).ready(function() {
   var $bodyel = jQuery("body");
   $bodyel.addClass("cssAnimate ct-js-navbarMakeSmaller ct-navbar-isTransparent-toDefault");
});

jQuery(window).on("load",function () {


        if ($().masonry && ($('.ct-js-blogMasonry').length > 0) && ($devicewidth > 767)) {
            $('.ct-js-blogMasonry').masonry({
                itemSelector: '.ct-js-blogMasonry-item',
                masonry: {
                }
            });
        }
     });

    $(document).ready(function() {

        $("img.unliked, img.liked").on("click", ToggleLikeUnlike);
        $('.smile').on("click", AddReaction);
        ShowReactionDiv();
    });
</script>
{% endblock %}