{% extends "base.html" %}

{% from 'helpers.html' import posts_macro with context %}
{% from 'helpers.html' import products_macro with context %}


{% block navbar %}
    <nav class="navbar ct-navbar yamm ct-navbar--fadeIn ct-navbar-onepage navbar-transparent" role="navigation">
        <div class="container">
            <div class="ct-navbarContainer">
                <div class="navbar-header">

                    <a class="navbar-brand" href="{{ url_for('index') }}">
                        <img id="ct-js-logo"
                             src="{{ url_for('static',filename="image/logo-gray.png") }}"
                             alt="FISHtank"
                             width="49px"   >
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for("index") }}">Главная</a></li>
                    <li><a href="{{ url_for("popular_product") }}">Каталог</a></li>
                    <li><a href="{{ url_for("last_posts") }}">Блог</a></li>
                </ul>
                <ul class="nav navbar-nav yamm ct-navbar--right">
                    {% if current_user.is_authenticated %}
                        <li>
                            <a id="navbar-avatar" href="{{ url_for('user', username = current_user.username) }}">
                                {% if current_user.avatar_min %}
                                    <img src="{{ url_for('uploaded_file',filename=current_user.avatar_min) }}"/>
                                {% else %}
                                    <img src="{{ url_for('static',filename="image/min_icon-user-default.png") }}"/>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('user', username = current_user.username) }}">{{ current_user.username }}</a>
                        </li>
                        <li>
                            <a href="{{ url_for('security.logout') }}">Выйти</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('security.login') }}">Войти</a>
                        </li>
                        <li>
                            <a href="{{ url_for('security.register') }}">Регистрация</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>{% endblock %}
{% block body %}
    <div class="section"></div>

    {{ datetime }}
    <section class="ct-mediaSection">
        <div class="flexslider ct-flexslider--fw ct-flexslider--controls3 ct-flexslider--mainSlider ct-u-marginBoth0 ct-js-flexslider"
             data-pauseonaction="false" data-directionnav="true" data-animations="true" data-height="100%"
             data-controlnav="true" data-animationloop="true" data-controlscontainer="ct-containerAbsolute"
             data-slideshow="true" style="max-height: 30%; height: 345px;">

            <div class="ct-flexslider-progress">
                <div class="ct-flexslider-progressBar" , style="width: 0px;">

                </div>
            </div>
            <ul class="slides">
                <li style="background-image: url({{ url_for('static',filename="image/flexslider/carusel1.jpg") }}); min-height: 100%; height: 30%; width: 1149px; float: left; display: block;
                        class=" ">

                </li>
                <li style="background-image: url({{ url_for('static',filename="image/flexslider/carusel2.jpg") }}); min-height: 100%; height: 100%; width: 1149px; float: left; display: block;
                        class="">

                </li>
                <li style="background-image: url({{ url_for('static',filename="image/flexslider/carusel3.jpg") }}); min-height: 100%; height: 100%; width: 1149px; float: left; display: block;
                        class="">

                </li>
                <li style="background-image: url({{ url_for('static',filename="image/flexslider/carusel4.jpg") }}); min-height: 100%; height: 100%; width: 1149px; float: left; display: block;
                        class="">

                </li>

            </ul>

        </div>

        </div>

    </section>



    <div class="container ct-u-positionRelative">
    <div class="ct-u-positionRelative">
        <div class="ct-pageSectionHeader ct-offsetTop25 ct-u-borderBottomGrayLighter">
            <h4 class="ct-fw-300 ct-u-size40 ct-u-paddingBottom20">Узнайте больше о любимом хобби -  <span>Аквариумистике</span></h4>
            <div class="ct-u-paddingBottom40">
                <p class="text-justify">
                    Добавляйте посты и продукты, обменивайтесь своим опытом, узнайте много нового.
                    Вам сюда, если вы хотите развиваться как специалист. Но если для вас аквариумистика - не род занятий,
                    а удивительное и интересное исскуство, то на этом форуме вы сможете пообщаться с людьми, которых объединяет с вами любимое дело.
                    Форум аквариуистики - это сообщестыво, где вы сможете найти друзей и соратников.

                </p>
            </div>
        </div>
    </div>
</div>

    <section class="ct-u-paddingBoth30">
        <div class="container">
            <a href="{{url_for("last_posts")}}" class="blue-hover">

        <h4 class="ct-fw-600 ct-u-size30 ct-u-paddingBottom10 ct-u-paddingTop5 text-uppercase text-center blue-hover">Последние посты</h4>

</a>
            <div class="ct-blog ct-js-blogMasonry ct-u-borderBottomGrayLighter ct-u-paddingBottom20 ">
                        {% for post in posts%}
                            {% if not post.deleted %}
                                <div class="col-sm-6 ct-js-blogMasonry-item home-post-grid" >

                                    {{ posts_macro(post, posts_relationship) }}
                                </div>
                            {% endif %}
                        {% endfor %}
            </div>
        </div>

    </section>


    <section class="ct-u-motiveLight2--bg ct-u-paddingBottom10">
        <div class="container">

        <a href="{{url_for("popular_product")}}" class="blue-hover">

        <h4 class="ct-fw-600 ct-u-size28 ct-u-paddingBottom10 ct-u-paddingTop5 text-uppercase text-center blue-hover">Популярные продукты</h4>

</a>


            <div id="product_container" class="row">
        <div class="ct-product">
            {% for product in products %}

                {% if not product.deleted %}
                    <div class="col-md-4 col-xs-12 ct-u-paddingTop15 one-product">

                    {{ products_macro(product, products_relationship) }}

                    </div>
                {% endif %}
            {% endfor %}
         </div>

    </div>
        </div>

    </section>

<script>
$(document).ready(function() {
   var $bodyel = jQuery("body");
   $bodyel.addClass("cssAnimate ct-js-navbarMakeSmaller ct-navbar-isTransparent-toDefault");
});

jQuery(window).on("load",function () {


        if ($().masonry && ($('.ct-js-blogMasonry').length > 0) && ($devicewidth > 767)) {
            $('.ct-js-blogMasonry').masonry({
                itemSelector: '.ct-js-blogMasonry-item',
                masonry: {
                }
            });
        }
     });


</script>
{% endblock %}