{% from "security/_macros.html" import render_field_with_errors, render_field %}

<div id="message-container">
{% for message in messages %}

    <ul class="ct-mediaList list-unstyled">
    {% if message.sender_id == current_user.id %}
        <li class="ct-u-marginTop5 ct-u-paddingBoth10 ct-u-floatRight" >{{ message.text }}</li>
                            <div style="clear: both;"></div>

    {% else %}
                <li class="ct-u-marginTop5 ct-u-paddingBoth10 ct-u-floatLeft" >{{ message.text }}</li>
                            <div style="clear: both;"></div>


    {% endif %}


    </ul>


{% endfor %}

<div>
    aaaaaaaaaaaaaaaaaaaaa
<form action="{{ url_for("messages_box") }}" class="message_form" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
<div class="input-group">
    <span id="hide" class="input-group-btn">
        <label>
                        {{form.file(id="file", class="inputfile")}}
                                <span class="photo_text hidden-xs ct-u-size24"><i class="fa fa-camera" aria-hidden="true"></i></span>
</label>


{##}
{#        <button class="btn btn-motive" type="submit">Go!</button>#}
      </span>
    {{ render_field(form.text, class="form-control") }}
      <span class="input-group-btn">
          <button class="btn btn-motive" type="submit" title="Отправить"><i class="fa fa-send"></i></button>
      </span>
    </div><!-- /input-group -->
</form>
</div>
</div>

<script>

$(document).ready(function () {

    $("#message-container").css('height', $(window).height() * 0.7);
    document.getElementById('message-container').scrollTop = 9999999;
});


$(".message_form").submit(function(event) {
    var formData = new FormData($(this)[0]);
    $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: formData,
        processData: false,
        contentType: false,

        success: function (data) {
            $("#messages_box").html(data.messages);
            $("#text" + data.dialog_id).text(data.dialog_text);

            $(".one-dialog#"+ data.dialog_id + " textbox p i").addClass("");
            console.log(data.dialog_text);
            $("textarea#text").val("");

        },
        error: function (xhr, str) {
            alert('Mistake ' + xhr.responseCode);
        }
    });
    event.preventDefault();
});
</script>