{% from "security/_macros.html" import render_field_with_errors, render_field %}

<div id="message-container" class="{{ page }}" dialog_id = {{ dialog_id }}>
{% if messages.has_next %}
    <button id ="load_messages">Загрузить больше</button>

    <i id="has" class="has_next"></i>
{% endif %}

  <ul class="ct-mediaList list-unstyled">

{% for message in messages.items | reverse %}


    {% if message.sender_id == current_user.id %}
        <li class="ct-u-marginTop5 ct-u-paddingBoth10 ct-u-floatRight talk-bubble tri-right round right-in" >

        <span class="ct-u-size14 ct-fw-300 ct-u-floatRight">{{ message.sent_at }}</span>
             <div style="clear: both;"></div>
               <p>
                   {% if message.file %}
                       <img class="ct-u-width-250" src="{{ url_for('uploaded_file',filename=  message.file ) }}"/>
                       {% endif %}
               </p>

           <p>{{ message.text }}</p>
        </li>
                            <div style="clear: both;"></div>

    {% else %}
                <li class="ct-u-marginTop5 ct-u-paddingBoth10 ct-u-floatLeft talk-bubble tri-right round left-in" >
                <span class="ct-u-size14 ct-fw-300">{{ message.sent_at }}</span>
<p>
                   {% if message.file %}
                       <img class="ct-u-width-250" src="{{ url_for('uploaded_file',filename=  message.file ) }}"/>

                       {% endif %}
               </p>
                    <p> {{ message.text }}</p>

                </li>
                            <div style="clear: both;"></div>


    {% endif %}





{% endfor %}
  </ul>


{%  if page ==1 %}
<form action="{{ url_for("messages_box") }}" class="message_form" id = {{ page }} method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    {{ form.receiver_id }}
<div class="input-group">
    <span id="hide" class="input-group-btn">
        <label>
                        {{form.file(id="file", class="inputfile message-file")}}
                                <span class="photo_text ct-u-size30"><i class="fa fa-camera" aria-hidden="true"></i></span>
</label>


</span>
    {{ render_field(form.text, class="form-control") }}
      <span class="input-group-btn">
          <button class="btn btn-motive" type="submit" title="Отправить"><i class="fa fa-send"></i></button>
      </span>
    </div><!-- /input-group -->
</form>
{% endif %}
</div>

<script>


$("#load_messages").on("click", function (event) {
        var my_button = $(this);
        var dialog_id = $(".messages_box_mobile").children().first().attr("dialog_id");
        var page = $(".messages_box_mobile").children().first().attr("class");
        var scrollTop = $(window).scrollTop();
        console.log(scrollTop);
        console.log(dialog_id, page);

            $.get($SCRIPT_ROOT + '/messages_box/', {dialog_id: dialog_id, page: page}, function (data) {

                $(".messages_box_mobile").prepend(data.messages);
                var dear = $("#message-container." + (data.page) + " ul").height();

                $(".messages_box_mobile").scrollTop(dear);
                console.log(my_button);
                my_button.css("opacity", "0"); {# don't show button for load on previous div #}
                $("#message-container." + (data.page) ).css("margin-bottom", "0");

            });



            event.preventDefault();
            event.stopImmediatePropagation();


    });





$('#messages_box').on('scroll', function(event) {
    event.preventDefault();
    var dialog_id = $(this).children().first().attr("dialog_id");
    var page = $(this).children().first().attr("class");
    var scrollTop = $(this).scrollTop();

    if (scrollTop <= 0) {
        $.get($SCRIPT_ROOT + '/messages_box/', {dialog_id: dialog_id, page: page}, function (data) {
            if ($(window).width() >= 768) {
                $("#messages_box").prepend(data.messages);
            }
            else{
                $("#messages_box_mobile").prepend(data.messages);


            }
            var dear = $("#message-container." + (data.page) + " ul").height();
            if ($(window).width() >= 768) {
                $("#messages_box").scrollTop(dear);
            }
            else{
                $("#messages_box_mobile").scrollTop(dear);
            }




        });

    }
    event.preventDefault();
    event.stopImmediatePropagation();

    });

$(document).ready(function () {

if ($(window).width() >= 768) {
    $("#messages_box").css('height', $(window).height() * 0.7);
}
        var page = $("#messages_box").children().first().attr("class");

if (page == "1"){
    console.log("we will scroll");

    $("#messages_box").scrollTop(9999999);


}

});


$(".message_form#1").submit(function(event) {


        event.preventDefault();
    var formData = new FormData($(this)[0]);
    $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: formData,
        processData: false,
        contentType: false,

        success: function (data) {
            if ($(window).width() >= 768) {

            $("#messages_box").html(data.messages);

            }
            else{
                 $(".messages_box_mobile").html(data.messages);

            }
            $("#text" + data.dialog_id).text(data.dialog_text);
                                 {# make dialog not read by reciever#}

                if ($("#circle"+ data.dialog_id).hasClass("fa-circle")){
                     $("#circle"+ data.dialog_id).addClass("circle-not-read");

                }
                else{
                    $("#circle"+ data.dialog_id).addClass("fa fa-circle circle-not-read");


                }

            $("textarea#text").val("");

        },
        error: function (xhr, str) {
            console.log('Mistake ' + xhr.responseCode);
        }
    });
    event.preventDefault();
    event.stopImmediatePropagation()
});


$('.message-file').change(function() {
    $(this).next().html("<i class='fa fa-download'></i>");

});
</script>