
<!--<script type="text/javascript" src="{{ url_for ('static', filename= "js/comment.js") }}" acync></script>-->

{% from 'helpers.html' import product_comment_macro with context %}
    {%- for key, value in comment_tree.items() recursive -%}

        {% if key %}
            <ul class="ct-mediaList list-unstyled">
            {% for comment in comments %}
                {% if comment.id == key %}
                        {% if comment.deleted %}
                            Комментарий был удален
                        {%else%}
                            <li class="ct-u-borderBottomGrayLighter ct-u-marginTop5 ct-u-paddingBoth10">{{ product_comment_macro(comment, comments_relationships) }}</li>


                        {% endif %}
                {% endif %}
            {% endfor %}
                <ul class="ct-mediaList list-unstyled">{{ loop(value.items()) }}</ul>
             </ul>
        {% endif %}
    {%- endfor -%}
<script>
$(document).ready(function() {

    $("img.unliked, img.liked").on("click", ToggleLikeUnlike);
    $('.smile').on("click", AddReaction);
    ShowReactionDiv();
    $(".discussion.product-form.comment-login").on("click", RenderProductCommentForm);

});
</script>