{% extends "base.html" %}
{% from 'helpers.html' import popup_div_macro with context %}
{% from 'helpers.html' import post_comment_macro with context %}
{% block body %}
    <section class="ct-u-paddingBottom10">
        <div class="container">

        <div class="ct-pageSectionHeader ct-u-paddingBoth30">

                    <h3 class="text-uppercase ct-u-size30 text-center">{{ post.title }}</h3>



                    {% if current_user.id == post.user_id and editable %}

                        <div class="edit-post-block dropdown ct-u-paddingTop5 text-center ct-u-size22">

                            <i class="fa fa-pencil-square-o dropdown-toggle ct-u-cursor-pointer" aria-hidden="true"  data-toggle="dropdown">редактировать</i>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('edit_post', id=post.id  ) }}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> редактировать</a></li>
                                <li><a href="#" onclick="delete_post({{ post.id }}, event);">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>удалить</a></li>

                              </ul>

                        </div>
                    {% endif %}

                </div>

            <div class="row">
                <div class="col-xs-12 col-sm-8" id="single-post">

                    <div class="ct-u-paddingBottom30 ct-u-borderBottomGrayLighter ct-clear-both">

                        {% if post.image %}
                            <img src="{{ url_for('uploaded_file',filename=post.image) }}" class="single-post-image" />
                        {% endif %}
                        <p class="ct-u-motiveLight">

                            <a href="{{ url_for('user', username =post_author.username ) }}">{{ post_author.username }}</a>

                            {{ post.published_at|datetime }}

                        </p>
                        <p>
                            {{ post.body }}
                        </p>
                    </div>
                    <div class="reaction-counter">

                        <span id="like_count_like_post_{{post.id}}">{{ post.like_count }} </span><img class="smile" src="{{ url_for('static',filename="image/reaction-like.png" )}}" />
                        <span id="unlike_count_like_post_{{post.id}}">{{ post.unlike_count }} </span><img class="smile" src="{{ url_for('static',filename="image/reaction-unlike.png" )}}" />
                        <span id="funny_count_like_post_{{post.id}}">{{ post.funny_count }} </span><img class="smile" src="{{ url_for('static',filename="image/reaction-funny.png" )}}" />
                        <span id="angry_count_like_post_{{post.id}}">{{ post.angry_count }} </span><img class="smile" src="{{ url_for('static',filename="image/reaction-angry.png" )}}" />

                    </div>


                    <div class="under-box">
                        {{ popup_div_macro(post.id, "like_post ") }}
                        <div class="reaction-button">
                            <ul class="like-left like-inline">
                                <li>
                                    {% if current_user.is_authenticated %}

                                        {% if post_liked %}

                                            {% if post_liked.type == "like"%}
                                                <img class="liked img-rounded" src="{{ url_for('static',filename="image/button-liked.png" )}}"
                                                    obj_id={{post.id}} url = "like_post" />

                                            {% elif post_liked.type == "unlike"%}
                                                <img class="liked" src="{{ url_for('static',filename="image/reaction-unlike.png" )}}"
                                                    obj_id={{post.id}} url = "like_post"  />

                                            {% elif post_liked.type == "funny"%}
                                                <img class="liked" src="{{ url_for('static',filename="image/reaction-funny.png" )}}"
                                                    obj_id={{post.id}} url = "like_post" />

                                            {% elif post_liked.type == "angry"%}
                                                <img class="liked" src="{{ url_for('static',filename="image/reaction-angry.png" )}}"
                                                    obj_id={{post.id}} url = "like_post"  />
                                            {% endif %}
                                        {% else %}
                                            <img class="unliked"  src="{{ url_for('static',filename="image/not-reaction.png" )}}"
                                                                     url = "like_post" obj_id={{post.id}} />

                                        {% endif%}
                                     {% else %}
                                        <img class="like-not-login"  src="{{ url_for('static',filename="image/not-reaction.png" )}}"/>

                                    {% endif %}
                                </li>

                            </ul>
                        </div>

                        {% if current_user.is_authenticated %}

                            <div id="button_comment1" class="comment-button post-form comment-login">
                                <ul>
                                    <li>
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                    </li>
                                    <li><h4  title="комментировать пост">комментировать</h4 ></li>
                                </ul>
                            </div>
                        {% else %}
                            <div id="button_comment1" class="comment-button post-form comment-not-login">
                                <ul>
                                    <li>
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                    </li>
                                    <li><h4  title="комментировать пост">комментировать</h4 ></li>
                                </ul>
                            </div>
                        {% endif %}
                        <div class="favourite-button">
                            <ul>
                                <li>
                                    {% if current_user.is_authenticated %}
                                        {% if if_favorite %}
                                            <i class="fa fa-star favourite post-fav" id="{{post.id}}" aria-hidden="true" title="Убрать с избранного"></i>
                                        {% else%}
                                            <i class="fa fa-star-o not-favourite post-fav" id="{{post.id}}" aria-hidden="true" title="Добавить в избранное"></i>
                                        {% endif %}
                                    {% else %}
                                        <i class="fa fa-star-o favourite-not-login" id="{{post.id}}" aria-hidden="true"></i>

                                    {% endif %}
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div id = "hiden_form1" class="post-form">
                    <form action="{{ url_for('singlepost', postid=post.id  ) }}" method="post" id="form1"
                          enctype=multipart/form-data class="comment_form">
                        {{form.hidden_tag()}}

                        <div class="form-group col-xs-9 col-sm-9">
                            {{form.text(class_="form-control", rows=2)}}

                        </div>
                        <div id ="hide" class="form-group col-xs-3 col-sm-2">
                            <label class="hand-cursor">
                                     {{ form.file(class="comment-file") }}
                                <span class="fa fa-camera"></span>
                                <span class="photo_text hidden-xs">Фото</span>
                            </label>
                            <button type="submit" class="btn btn-motive">добавить</button>



                        </div>

                         {% if form.errors %}
                                        <ul class=errors>
                                         {% for error in form.errors %}
                                          <li>{{ error }}</li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}




                    </form>
                </div>
                <div class="ct-u-paddingBoth10">
                    <h3 class="text-uppercase ct-u-size30 text-center">Комментарии</h3>

                    {% if comments|length >= 1 %}


                        <div class="ct-tabHeader ct-tabHeader--motive" role="tabpanel">
                            <ul class="list-unstyled text-uppercase ct-fw-600" role="tablist">



                                <li role="presentation" class="">
                                    <div class="ct-tabBorder">
                                        <a href="" onclick="post_comment({{ post.id }}, 'data', event);" role="tab" data-toggle="tab">Новые</a>
                                    </div>
                                    <div class="mini-triangle">

                                    </div>
                                </li>
                                 <li role="presentation" class="">
                                    <div class="ct-tabBorder">
                                        <a href="" onclick="post_comment({{ post.id }}, 'rating', event);" role="tab" data-toggle="tab">Популярные</a>
                                    </div>
                                    <div class="mini-triangle">

                                    </div>
                                </li>

                            </ul>
                        </div>
                            <div class="ct-blogReviews">

                                <div class="ct-u-paddingBoth30" id="comments">


                                     {%- for key, value in comment_tree.items() recursive -%}

                                        {% if key %}
                                            <ul class="ct-mediaList list-unstyled">
                                            {% for comment in comments %}
                                                {% if comment.id == key %}
                                                        {% if comment.deleted %}
                                                            Комментарий был удален
                                                        {%else%}
                                                            <li class="ct-u-borderBottomGrayLighter ct-u-marginTop5 ct-u-paddingBoth10">{{ post_comment_macro(comment, comments_relationships) }}</li>


                                                        {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                                <ul class="ct-mediaList list-unstyled">{{ loop(value.items()) }}</ul>
                                             </ul>
                                        {% endif %}
                                    {%- endfor -%}



                                </div>

                            </div>
                    {% else %}
                         <div class="ct-blogReviews">

                                <div class="ct-u-paddingBoth30" id="comments">


                        <p>К этому посту еще нет комментариев. Хотите быть первым?</p>



                                </div>

                            </div>
                    {% endif %}

                </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-sm-offset-1 sidebar">
                    <div class="ct-inputSearch ct-u-marginBottom40">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                  <div class="panel-title">
                                    <a class="collapsed" href="{{url_for('add_post')}}">
                                        создать пост
                                       <div class="plus ct-Diamond ct-Diamond--motive"></div>
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                            <div class="panel-heading">
                              <div class="panel-title">
                                <a class="collapsed" href="{{url_for('add_product')}}">
                                    добавить продукт
                                   <div class="plus ct-Diamond ct-Diamond--motive"></div>
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <h4 class="text-uppercase ct-fw-600 ct-u-paddingBottom15 ct-u-borderBottomGrayLighter">Последние посты</h4>
                    <ul class="ct-mediaList list-unstyled ct-u-paddingTop10 ct-u-paddingBottom40">

                        {% for post in posts %}
                            <li>
                            <a href="{{url_for('singlepost', postid=post.id)}}">
                            {% if post.image %}

                                <img class="img-circle left-image" src="{{ url_for('uploaded_file',filename= post.image )}}" style="height:50px">

                            {% else %}
                                <img class="img-circle left-image" src="{{ url_for('uploaded_file',filename="carusel4.jpg" )}}" style="height:50px">

                            {% endif %}
                            <div class="description side">
                                <p class="ct-fw-600 ct-u-size18">{{post.title|truncate(50, True) }}</p>


                                 <p class="ct-mediaList-date">{{ post.published_at|datetime }}</p>


                            </div>
                            </a>
                             </li>
                             {% endfor%}



                </ul>
                <h4 class="text-uppercase ct-fw-600 ct-u-paddingBottom15 ct-u-borderBottomGrayLighter">Новые комментарии</h4>
                <ul class="ct-simpleList list-unstyled ct-u-paddingTop10 ct-u-paddingBottom40">
                    {% for comment in comments  %}
                    <li><i class="fa fa-chevron-right"></i>{{ comments_relationships[comment.id]["author"].username }} в <a href="#"><span>{{ post.title }}</span></a></li>
                    {% endfor %}
                </ul>
                </div>

            </div>
        </div>
    </section>


<script>
$(document).ready(function() {


    $(".discussion.post-form.comment-login").on("click", RenderPostCommentForm);


});

</script>
{% endblock %}

