{% extends "base.html" %}

{% from 'helpers.html' import posts_macro with context %}
{% block title %}Блог{% endblock %}
{% block body %}
    <section class="ct-blogGrid ct-u-paddingBottom20">
        <div class="ct-pageSectionHeader ct-u-paddingBoth20">
            <div class="container">
            <div class="ct-verticalRoundedImage">
        <div class="row">
            <div class="ct-u-marginTop30">
                <div class="col-sm-5 col-xs-7 ct-u-doubleBorderTop">
                    <h3 class="ct-u-size34 text-uppercase">{{ topic.name }}</h3>
                </div>
                <div class="col-sm-4 col-xs-12 ct-u-doubleBorderTop ct-u-paddingBoth30">
                    <p>{{ topic.description }}</p>
                </div>
                                <div class="col-sm-3 col-xs-5"><img class="ct-u-width-200" src="{{ url_for("static", filename = "image/" + topic.image) }}" alt="Image Rounded"></div>

            </div>
        </div>
    </div>

            <div class="row">
                <div class="sort_box">
                    {% if sort == "rating" %}
                        <div class="sort-left col-md-6 col-sm-6">

                            <a href="{{ url_for('topic', topic = topic.id, sort = 'rating') }}">
                                <h4 class="ct-u-size30 active">популярные </h4>
                            </a>

                        </div>
                        <div class="sort-right col-md-6 col-sm-6">
                            <a href="{{ url_for('topic', topic = topic.id, sort = 'data') }}" class="ct-u-floatLeft">
                                <h4 class="ct-u-size30">последние</h4>
                            </a>
                        </div>
                    {% else %}
                        <div class="sort-left col-md-6 col-sm-6">

                            <a href="{{ url_for('topic', topic = topic.id, sort = 'rating') }}">
                                <h4 class="ct-u-size30">популярные </h4>
                            </a>

                        </div>
                        <div class="sort-right col-md-6 col-sm-6">

                            <a href="{{ url_for('topic', topic = topic.id, sort = 'data') }}" class="ct-u-floatLeft">
                                <h4 class="ct-u-size30 active">последние </h4>
                            </a>
                        </div>
            {% endif %}

                </div>


                <div class="ct-blog ct-u-paddingBoth20">
                    <div class="col-sm-8">
                        {% for post in posts %}
                            {% if not post.deleted %}
                                {{ posts_macro(post, posts_relationships) }}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="col-xs-12 col-sm-3 col-sm-offset-1 sidebar">
                    <div class="ct-inputSearch ct-u-marginBottom30">
                        <form style="display: inline;" action="{{url_for('search')}}" method="post" name="search">
                            {{g.search_form.hidden_tag()}}
                            {{g.search_form.search(size=20,type="text", placeholder="Поиск...")}}


                        <button class="" type="submit"><i class="fa fa-search"></i></button>

                        </form>
                    </div>

                        <div class="ct-inputSearch ct-u-marginBottom40">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a class="collapsed" href="{{ url_for('add_post') }}">
                                                Создать пост
                                                <div class="plus ct-Diamond ct-Diamond--motive"></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a class="collapsed" href="{{ url_for('add_product') }}">
                                                Добавить продукт
                                                <div class="plus ct-Diamond ct-Diamond--motive"></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="ct-u-marginBoth20 ct-pagination">
                <ul class="pagination pagination-lg ">
{% if pagination.has_prev %}

            <li class="right"><a href="{{ url_for("topic", page = pagination.page - 1, topic = topic.id) }}"><i class="fa fa-chevron-left"></i></a></li>
        {% endif %}
        {%- for page in pagination.iter_pages() %}

            {% if page %}
                {% if page != pagination.page %}
                    <li><a href="{{ url_for("topic", page=page, topic = topic.id, sort = sort) }}">{{ page }}
                   </a></li>


                {% else %}
                    <li class="active"> <a href="#">{{ page }}</a></li>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {%- endfor %}

        {% if pagination.has_next %}
            <li class="right"><a href="{{ url_for("topic", page=pagination.page + 1, topic = topic.id, sort = sort) }}" ><i class="fa fa-chevron-right"></i></a></li>
        {% endif %}
                </ul>
            </div>
        </div>
    </section>



{% endblock %}


