{% extends "base.html" %}
{% from 'helpers.html' import posts_macro with context %}

{% block body %}
    <script type="text/javascript" src="{{ url_for ('static', filename= "js/user_container.js") }}" acync></script>

<div class="container">
    <div class="row ">

    <div class="ct-pageSectionHeader ct-u-paddingBoth20">

                    <h3 class="text-uppercase ct-u-size40 text-center">{{ user.username }}</h3>
                    <h3 class="text-center"> <i type="button" data-container="body" data-toggle="popover" data-placement="bottom"
                                                 data-content="Рейтинговая система основывается на ваших голосах,которые вы получили за посты и комментарии к постам.
                                                 За голос нравится плюс 1 балл;
                                                 за голос ха-ха плюс 2 балла;
                                                 за голос не нравится минус 1 балл"
                         class="fa fa-question-circle-o informer-button" >

                        </i>Рейтинг  {{ rating }}<i class="fa fa-star star-rating"></i>
                    </h3>

            </div>
        <div class="col-sm-9">


            <div class="row">

            <div class="max_avatar col-sm-4 col-xs-12">
                {% if user.avatar %}
                    <img src="{{ url_for('uploaded_file',filename= user.avatar) }}" width="60"/>
                {% else %}
                    <img src="{{ url_for('static',filename="image/icon-user-default.png") }}" width="60"/>
                {% endif %}
                {% if current_user == user %}
                    <div class="avatar-edit">
                        <a href="{{ url_for('user_edit', username = user.username ) }}">
                            <i class="fa fa-camera" aria-hidden="true"></i> редактировать аватарку
                        </a>
                    </div>
                {% endif %}
            </div>



        <div class="col-xs-12 col-sm-6" id=user_about>
         {% if current_user == user %}
             {% if not user.confirmed_at and not  user.social %}
                 <p>
                 На ваш електронный адрес {{ current_user.email }} было отправлено письмо
            с инструкциями по активации вашего аккаунта.

Пожалуйста, кликните на ссылку, указанную в письме, чтобы подтвердить електронную почту и активировать ваш аккаунт.
                 </p>
             {% endif %}
        {% endif %}

            {% if user.last_seen and current_user != user%}
                <p><i>Был онлайн: {{momentjs(user.last_seen).calendar()}}</i></p>
            {% endif %}
            <p class="ct-u-paddingBottom5">
                <span>Дата регистрации</span>
                {{ user.registered_on|datetime }}
            </p>
            {% if user.about_me %}
                <p>{{ user.about_me }}</p>
             {% else %}
                {% if current_user == user %}

                <p>Хотите что-нибудь рассказать о себе?</p>
                    {% endif %}
            {% endif %}
                {% if current_user == user %}

                    <a href="{{ url_for('user_edit', username = user.username ) }}">Редактировать профиль</a>
                {% endif %}


        </div>
        </div>


        <section class="ct-u-paddingBoth20">
        <div class="row">

        <div class="user-activities panel-group">
            <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title active">
                              <h4 class="active user_but" id="post_block"  sort="date" user="{{ user.id }}">
                                  <nav class="no-plus ct-Diamond ct-Diamond--motive"></nav>
                                  Посты
                            </h4>

                          </div>
                        </div>
                    </div>


            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                                <h4 type="button" id="comment_block" class="dropdown-toggle user_but"
                                        data-toggle="dropdown">
                                    <nav class="plus ct-Diamond ct-Diamond--motive"></nav>
                                    Комменты
                                </h4>
                                <ul class="dropdown-menu" role="menu">
                                    <li id="date" class="comment_block" rel_obj="comment" user="{{ user.id }}">к постам</li>
                                    <li id="date" class ="comment_block" rel_obj="prod_comment" user="{{ user.id }}">к продуктам</li>
                                </ul>
                        </div>
                        </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                <h4  class="user_but" id="product_block" sort="date" user="{{ user.id }}">
                    <nav class="no-plus ct-Diamond ct-Diamond--motive"></nav>
                    продукты
                </h4>
                          </div>
                        </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                    <h4 type="button" id="favourite_block" class="dropdown-toggle user_but"
                            data-toggle="dropdown">
                        <nav class="plus ct-Diamond ct-Diamond--motive"></nav>
                        избранные </h4>
                    <ul class="dropdown-menu" role="menu">
                        <li id="date" class="post" user ="{{ user.id }}"><a href="#">посты</a></li>
                        <li id="date" class="product" user ="{{ user.id }}"><a href="#">продукты</a></li>

                    </ul>
                </div>
                        </div>
            </div>
            </div>


            </div>
        </div>
            <div class="row ct-u-paddingTop10 child-active">
                <div class="col-md-12">
                    <div id="active-container">
{#                        {% include '/user_container/user_contain_post.html' %}#}
                        {% if posts|length >= 1 %}
                            <div class="ct-tabHeader ct-tabHeader--motive" role="tabpanel">
                                <ul class="list-unstyled text-uppercase ct-fw-600 nav nav-tabs" role="tablist">
                                    <li id="post_block" sort="date" user ="{{ user_id }}" role="presentation" class="active">
                                        <div class="ct-tabBorder">


                                            <a href="#"  role="tab" data-toggle="tab">Последние</a>
                                        </div>
                                        <div class="mini-triangle">

                                        </div>
                                    </li>
                                    <li role="presentation"  id="post_block" sort="vote" user ="{{ user_id }}">
                                        <div class="ct-tabBorder">


                                            <a href="#" role="tab" data-toggle="tab">Популярные</a>
                                        </div>
                                        <div class="mini-triangle">

                                        </div>
                                    </li>

                                </ul>
                            </div>






                                    <div class="ct-blog ct-js-blogMasonry ct-u-borderBottomGrayLighter ct-u-paddingBottom20">
                                        {% for post in posts %}
                                             <div class="col-md-12 ct-js-blogMasonry-item" >

                                            {{ posts_macro(post, posts_relationships) }}
                                             </div>

                                        {% endfor %}

                                        </div>
                                    {% else %}
                                    {% if current_user == user %}

                                        <p>Вы еще не создавали посты</p>
                                        <p>Хотите <a href="{{ url_for('add_post') }}">написать</a>  что-нибудь?</p>
{% else %}
        <p>Этот форумчанин еще не публиковал посты</p>
    {% endif %}
                                    {% endif %}
                    </div>
                </div>
            </div>


        </section>
    </div>

                    <div class="col-xs-12 col-sm-3 sidebar">
                    <div class="ct-inputSearch ct-u-marginBottom40">
                        <form style="display: inline;" action="{{url_for('search')}}" method="post" name="search">
                            {{g.search_form.hidden_tag()}}
                            {{g.search_form.search(size=20,type="text", placeholder="Поиск...")}}


                        <button class="" type="submit"><i class="fa fa-search"></i></button>

                        </form>
                    </div>

                    <div class="ct-inputSearch ct-u-marginBottom40">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                  <div class="panel-title">
                                    <a class="collapsed" href="{{url_for('add_post')}}">
                                        создать пост
                                       <div class="plus ct-Diamond ct-Diamond--motive"></div>
                                    </a>
                                  </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                            <div class="panel-heading">
                              <div class="panel-title">
                                <a class="collapsed" href="{{url_for('add_product')}}">
                                    добавить продукт
                                   <div class="plus ct-Diamond ct-Diamond--motive"></div>
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <h4 class="text-uppercase ct-fw-600 ct-u-paddingBottom10 ct-u-borderBottomGrayLighter">Посты по тегам</h4>
                    <ul class="ct-simpleList list-unstyled ct-u-paddingTop5 ct-u-paddingBottom30">
                        {% for t in tags %}
                <li><a href="{{url_for('search_results', query = t.name, only_tag=True)}}"><i class="fa fa-hashtag" ></i>{{ t.name }}</a></li>
                        {% endfor %}

                    </ul>
                    <h4 class="text-uppercase ct-fw-600  ct-u-borderBottomGrayLighter">Новые посты</h4>
                    <ul class="ct-mediaList list-unstyled  ct-u-paddingBottom40">

                        {% for post in side_posts %}
                            <li>
                            <a href="{{url_for('singlepost', postid=post.id)}}">
                            {% if post.image %}

                                <img class="img-circle left-image" src="{{ url_for('uploaded_file',filename= post.image )}}" style="height:50px">

                            {% else %}
                                <img class="img-circle left-image" src="{{ url_for('static',filename="image/carusel4.jpg" )}}" style="height:50px">

                            {% endif %}
                            <div class="description side">
                                <p class="ct-fw-600 ct-u-size18">{{post.title|truncate(50, True) }}</p>


                                 <p class="ct-mediaList-date">{{ post.published_at|datetime }}</p>


                            </div>
                            </a>
                             </li>
                             {% endfor%}



                </ul>

                </div>

    </div>
</div>
<script>
$(document).ready(function() {

     $(".dropdown-menu li.comment_block").on("click", UpdateCommentContainer);
     $("#product_block").on("click", UpdateProductContainer);
     $(".dropdown-menu .post, .dropdown-menu .product").on("click", UpdateFavouriteContainer);
     $("#post_block").on("click", UpdatePostContainer);

    $("li#post_block").on("click", UpdatePostContainer);


 });
$(".informer-button").on("click", function () {
    $(".informer-button").popover('show');
})
</script>
{% endblock %}