

div#header.row{
    background-image: url("/static/image/header-background.png");
    width:100%;
    height:80px;
    margin: 0px;
}

div#sidebar{


    padding: 0px;
}
div#main{
    padding: 0px;



}

#body{
    margin: 0px;
    margin-top: 10px;
}
div#user_infs {
    padding: 0px;
}
div#user_about{
    padding: 0px;


}
#max_avatar img  {
    border-radius: 8px;
    width: 220px;
}